<span class="addressBookName">{{ctrl.addressBook.displayName}}</span>
<span class="utils">
    <span class="action">
        <span
            class="addressbooklist-icon icon-public"
            title="Show URL"
            ng-click="ctrl.toggleShowUrl()">
        </span>
    </span>
    <span class="action">
        <span
            class="addressbooklist-icon icon-share"
            title="Share Addressbook"
            ng-click="ctrl.toggleSharesEditor(ctrl.addressBook)">
        </span>
    </span>
    <span class="action">
        <span
            class="addressbooklist-icon icon-delete"
            title="Delete Addressbook"
            ng-click="ctrl.deleteAddressBook(ctrl.addressBook)">
        </span>
    </span>
</span>
    <input class="addressBookUrl" ng-show="ctrl.showUrl" type="url" value="{{ctrl.urlBase + ctrl.addressBook.url}}" readonly />
<div class="addressBookShares" ng-show="ctrl.addressBook.editingShares">
	<i ng-show="ctrl.addressBook.loadingSharees" class="glyphicon glyphicon-refresh"></i>
	<input
		type="text"
		class="shareeInput"
		uib-typeahead="sharee.display for sharee in ctrl.findSharee($viewValue, ctrl.addressBook)"
		typeahead-on-select="ctrl.onSelectSharee($item, $model, $label, ctrl.addressBook)"
		typeahead-loading="loadingSharees"
		ng-model="ctrl.addressBook.selectedSharee"
		placeholder="Share with users or groups">
	<ul class="addressBook-share-list">
		<li ng-repeat="userShare in ctrl.addressBook.sharedWith.users" class="addressBook-share-item">
			<span class="shareeIdentifier">{{ userShare.displayname }}</span> -
			<input type="checkbox" name="editable"
				   id="checkbox_sharedWithUser_{{ctrl.addressBook.tmpId}}_{{$id}}"
				   ng-model="userShare.writable" value="edit"
				   ng-change="ctrl.updateExistingUserShare(ctrl.addressBook, userShare.id, userShare.writable)">
			<label for="checkbox_sharedWithUser_{{ctrl.addressBook.tmpId}}_{{$id}}"> can edit</label>
			<span class="utils">
				<span class="action">
					<span href="#"
						  id="addressBooklist-icon delete"
						  data-id="{{ ctrl.addressBook.uri }}"
						  title="Delete"
						  class="icon-delete"
						  ng-click="ctrl.unshareFromUser(ctrl.addressBook, userShare.id)">
					</span>
				</span>
			</span>
		</li>
		<li ng-repeat="groupShare in ctrl.addressBook.sharedWith.groups" class="calendar-share-item">
			{{ groupShare.displayname }} (group) -
			<input type="checkbox" name="editable"
				   id="checkbox_sharedWithGroup_{{ctrl.addressBook.tmpId}}_{{$id}}"
				   ng-model="groupShare.writable" value="edit"
				   ng-change="ctrl.updateExistingGroupShare(ctrl.addressBook, groupShare.id, groupShare.writable)">
			<label for="checkbox_sharedWithGroup_{{ctrl.addressBook.tmpId}}_{{$id}}"> can edit</label>
			<span class="utils hide">
				<span class="action">
					<span href="#"
						  id="addressBooklist-icon delete"
						  data-id="{{ ctrl.addressBook.uri }}"
						  title="Delete"
						  class="icon-delete"
						  ng-click="ctrl.unshareFromGroup(ctrl.addressBook, groupShare.id)">
					</span>
				</span>
			</span>
		</li>
	</ul>
</div>
