<button class="app-content-list-button" type="button" name="button" ng-click="ctrl.createContact()">{{ctrl.t.addContact}}</button>
<div class="app-content-list-item"
	 ng-repeat="contact in ctrl.contactList = (ctrl.contacts | contactGroupFilter:ctrl.routeParams.gid | orderBy:'fullName()') track by contact.uid()"
	 contact data="contact"
	 ng-click="setSelected(contact.uid())" ng-class="{active: contact.uid() === selectedContactId}">
</div>
