#!/bin/sh
#
# $FreeBSD$
#
# PROVIDE: bungeecord
# REQUIRE: NETWORKING SYSLOG
# KEYWORD: shutdown
#
# Add the following lines to /etc/rc.conf to enable bungeecord:
#
# bungeecord_enable="YES"

. /etc/rc.subr

name="bungeecord"
rcvar=`set_rcvar`

load_rc_config $name

: ${bungeecord_enable:="NO"}
: ${bungeecord_chdir:="{{ bungeecord_home_dir }}"}

pidfile="{{ bungeecord_home_dir }}/bungeecord.pid"

java_command="/usr/local/bin/java"
java_flags="-Xms{{ bungeecord_min_ram }} -Xmx{{ bungeecord_max_ram }} -jar {{ bungeecord_home_dir }}/BungeeCord.jar"

command="/usr/sbin/daemon"
flags="-f -u {{ bungeecord_username }} -p ${pidfile} ${java_command} ${java_flags}"
procname="/usr/local/openjdk8/bin/java"

run_rc_command "$1"
