groups:
  Thallian:
  - admin
disabled_commands: []
player_limit: {{ bungeecord_player_limit }}
stats: a6afa71e-8605-4d13-87b0-746a40078974
permissions:
  default:
  - bungeecord.command.server
  - bungeecord.command.list
  admin:
  - bungeecord.command.alert
  - bungeecord.command.end
  - bungeecord.command.ip
  - bungeecord.command.reload
listeners:
- query_port: {{ bungeecord_port }}
  motd: '&1{{ bungeecord_motd }}'
  tab_list: {{ bungeecord_tab_list }}
  query_enabled: {{ bungeecord_query_enabled }}
  forced_hosts: {}
  ping_passthrough: {{ bungeecord_ping_passthrough }}
  default_server: {{ bungeecord_default_server }}
  bind_local_address: {{ bungeecord_bind_local_address }}
  fallback_server: {{ bungeecord_fallback_server }}
  host: 0.0.0.0:{{ bungeecord_port }}
  max_players: {{ bungeecord_max_players }}
  tab_size: {{ bungeecord_tab_size }}
  force_default_server: {{ bungeecord_force_default_server }}
timeout: {{ bungeecord_timeout }}
connection_throttle: {{ bungeecord_connection_throttle }}
servers:
{% for server in bungeecord_servers %}
  {{ server.id }}:
    motd: "{{ server.motd }}"
    address: {{ server.address }}
    restricted: {{ server.restricted }}
{% endfor %}
ip_forward: {{ bungeecord_ip_forward }}
online_mode: {{ bungeecord_online_mode }}
