# sSMTP aliases
#
# Format:	local_account:outgoing_address:mailhub
#
# Example: root:your_login@your.domain:mailhub.your.domain[:port]
# where [:port] is an optional port number that defaults to 25.
{% for alias in ssmtp_aliases %}
{{ alias.local }}:{{ alias.from }}:{{ ssmtp_mail_relay }}
{% endfor %}
