#
# /etc/ssmtp.conf -- a config file for sSMTP sendmail.
#

# The person who gets all mail for userids < 1000
# Make this empty to disable rewriting.
root={{ ssmtp_master_mail }}

# The place where the mail goes. The actual machine name is required
# no MX records are consulted. Commonly mailhosts are named mail.domain.com
# The example will fit if you are in domain.com and your mailhub is so named.
mailhub={{ ssmtp_mail_relay }}

# Example for SMTP port number 2525
# mailhub=mail.your.domain:2525

# Example for SMTP port number 25 (Standard/RFC)
# mailhub=mail.your.domain

# Example for SSL encrypted connection
# mailhub=mail.your.domain:465

# Where will the mail seem to come from?
rewriteDomain={{ ssmtp_mail_hostname }}

# The full hostname
hostname={{ ssmtp_mail_hostname }}

# Set this to never rewrite the "From:" line (unless not given) and to
# use that address in the "from line" of the envelope.
FromLineOverride=YES

# Use SSL/TLS to send secure messages to server.
UseTLS={{ ssmtp_mail_use_tls }}
UseSTARTTLS={{ ssmtp_mail_use_starttls }}

AuthUser={{ ssmtp_mail_user }}
AuthPass={{ ssmtp_mail_password }}
AuthMethod={{ ssmtp_mail_auth_method }}

# Use SSL/TLS certificate to authenticate against smtp host.
#UseTLSCert=YES

# Use this RSA certificate.
#TLSCert=/usr/local/etc/ssmtp/ssmtp.pem

# Get enhanced (*really* enhanced) debugging information in the logs
# If you want to have debugging of the config file parsing, move this option
# to the top of the config file and uncomment
#Debug=YES
