.contactdetails__header {
	height: 100px;
	padding-left: 20px;
	display: flex;
	color: #fff;
	font-weight: bold;
	align-items: center;
}

.contactdetails__header h2 {
	margin-bottom: 6px;
	margin-left: 8px;
}
.contactdetails__header .contactdetails__name {
	font-size: inherit !important;
	width: 100% !important;
	color: #fff !important;
	background: transparent !important;
	border: none !important;
}

.contactdetails__header .icon-delete-white {
	position: absolute;
	right: 0;
	padding: 15px;
	right: 15px;
	top: 30px;
	background-color: transparent;
	border: none;
	opacity: .5;
}

.contactdetails__logo {
	height: 75px;
	width: 75px;
	background-color: rgba(255, 255, 255, .5);
}

#check-all + label:before {
	position: absolute;
	top: 18px;
	left: 68px;
}

.contact__icon {
	display: inline-block;
	height: 40px;
	width: 40px;
	line-height: 40px;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 10px;
	color: white;
	text-align: center;
	font-size: 1.5em;
	text-transform: capitalize;
}

.contactdetails__header + section {
	padding: 20px 20px 100px;
}



/* General details item styles */

detailsitem {
	display: block;
	position: relative;
}

detailsitem label {
	display: inline-block;
	width: 80px;
	padding: 7px 0px;
	text-align: right;
	opacity: .5;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
}

detailsitem input[type="text"],
detailsitem input[type="password"],
detailsitem input[type="search"],
detailsitem input[type="number"],
detailsitem input[type="email"],
detailsitem input[type="tel"],
detailsitem input[type="url"],
detailsitem input[type="time"],
detailsitem input[type="date"],
detailsitem textarea,
.select-addressbook select,
.add-field {
	width: 200px;
}

detailsitem .icon-delete {
	position: absolute;
	vertical-align: middle;
	padding: 16px;
	background-color: transparent;
	border: none;
	opacity: .2;
}



/* More specific details item styles */

detailsitem.details-item-tel select,
detailsitem.details-item-email select,
detailsitem.details-item-adr select,
detailsitem.details-item-impp select,
detailsitem.details-item-cloud select {
	width: 80px;
	margin-right: 0;
}

detailsitem.details-item-tel label {
	opacity: 1;
	padding: 0;
}

detailsitem.details-item-adr {
	padding: 20px 0;
}
detailsitem.details-item-adr .icon-delete {
	top: 57px;
	left: 290px;
}

detailsitem.details-item-email select {
	margin-right: 0;
}

detailsitem .url-link {
	position: absolute;
	padding: 8px 10px;
	margin-left: -30px;
	opacity: .5;
}

detailsitem.details-item-note label {
	vertical-align: top;
	padding-top: 10px;
}
detailsitem.details-item-note .icon-delete {
	vertical-align: top;
}

.select-addressbook,
.add-field {
	margin-left: 83px;
}



/* addressbook settings */


ul.addressBookList li {
	padding: 6px 0;
}

ul.addressBook-share-list {
	margin-top: 8px;
	margin-bottom: 12px;
}

ul.addressBook-share-list li {
	margin-left: 15px;
}

ul.addressBookList li .action .icon-public,
ul.addressBookList li .action .icon-share,
ul.addressBookList li .action .icon-delete {
	padding: 10px 18px;
}

div.addressBookShares ul.dropdown-menu {
	border: 1px solid #ddd;
	border-radius: 3px;
	width: 229px;
	height: 200px;
	margin-top: -5px;
	overflow: scroll;
}

div.addressBookShares ul.dropdown-menu li > a {
	height: 30px !important;
	min-height: 30px !important;
	line-height: 30px !important;
}

ul.dropdown-menu li.active {
	background: #eee;
}

div.app-contacts span.utils {
	padding: 0 !important;
}

input.newAddressBookInput, input.shareeInput, input.addressBookUrl {
	width: 100% !important;
}

.addressBookList form {
	position: relative;
}
.newAddressBookSubmit {
	position: absolute;
	right: 0;
	top: 0;
	padding: 6px 13px;
	background-color: transparent;
	border: none;
	opacity: .5;
}

ul.addressBookList li[addressbook] > span.addressBookName {
	padding-left: 7px;
}

li.addressBook-share-item span.shareeIdentifier {
	max-width: 50px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	display: inline-block;
	vertical-align: top;
}











/* app content list & detail view */
/* TO BE MOVED TO CORE apps.css ONCE STANDARDIZED ACROSS APPS */
/* DO NOT MAKE ANY CHANGES SPECIFIC TO CONTACTS HERE! */

.app-content-list {
	width: 30%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.app-content-detail {
	position: absolute;
	top: 0;
	right: 0;
	width: 70%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.app-content-list-button {
	display: block;
	margin: 10px auto;
	padding: 10px;
}

.app-content-list-item {
	position: relative;
	height: 68px;
	border-top: 1px solid #eee;
	cursor: pointer;
}
.app-content-list-item:hover,
.app-content-list-item:focus,
.app-content-list-item.active {
	background-color: #f8f8f8;
}
.app-content-list-item-link {
	display: block;
	height: 100%;
}

.app-content-list-item-icon {
	position: absolute;
	display: inline-block;
	left: 6px;
	top: 14px;
}

.app-content-list-item-star {
	position: absolute;
	display: none; /* change to inline-block when we implement it */
	left: 16px;
	top: 28px;
	padding: 20px;
	background-size: 16px;
	z-index: 100;
}

.app-content-list-item-line-one,
.app-content-list-item-line-two {
	position: absolute;
	display: inline-block;
	width: 100%;
	padding: 12px;
	padding-left: 50px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.app-content-list-item-line-one.no-line-two {
	padding-top: 24px;
	padding-bottom: 24px;
}
.app-content-list-item-line-two {
	top: 25px;
	opacity: .5;
}

#app-navigation .utils .action span {
	cursor: pointer !important;
}
#app-navigation .utils .action {
	opacity: .5;
}
#app-navigation .utils .action:hover,
#app-navigation .utils .action:focus {
	opacity: 1;
}
