user {{ nginx_user }};
worker_processes 4;
pid /var/run/nginx.pid;

events {
  worker_connections 768;
  # multi_accept on;
}

http {

  ##
  # Basic Settings
  ##

  limit_req_zone $binary_remote_addr zone=one:10m rate=1r/s;
  limit_req_status 444;

  sendfile on;
  tcp_nopush on;
  tcp_nodelay on;
  keepalive_timeout 65;
  types_hash_max_size 2048;
  # server_tokens off;

  server_names_hash_bucket_size 64;
  # server_name_in_redirect off;

  include {{ nginx_config_dir }}/mime.types;
  default_type application/octet-stream;

  ssl_protocols {{ ngins_ssl_protocols }};
  ssl_ciphers '{{ nginx_ssl_ciphers }}';
  ssl_prefer_server_ciphers {{ nginx_ssl_prefer_server_ciphers }};
  ssl_session_cache {{ ngins_ssl_session_cache }};

  ssl_dhparam {{ nginx_config_dir }}/dhparams.pem;

  ##
  # Logging Settings
  ##

  access_log {{ nginx_log_dir }}/access.log;
  error_log {{ nginx_log_dir }}/error.log;

  log_format noip '127.0.0.1 - [$time_local]  '
            '"$request" $status $body_bytes_sent '
            '"$http_referer" "$http_user_agent" $request_time';

  log_format vhosts '$host $remote_addr - $remote_user [$time_local] "$request" $status $body_bytes_sent "$http_referer" "$http_user_agent"';

  ##
  # Gzip Settings
  ##

  gzip {{ nginx_gzip }};
  gzip_disable "{{ nginx_gzip_disable }}";

  ##
  # Virtual Host Configs
  ##

  proxy_cache_path  /var/cache levels=1:2 keys_zone=map:8m max_size=1g inactive=24h;

  server {
    listen 80 default_server;

    server_name  _;

    return 444;
  }

  include {{ nginx_config_dir }}/conf.d/*.conf;
  include {{ nginx_config_dir }}/sites-enabled/*;
}
