server {
  listen 80;

  server_name {{ ddns_update_domain }};

  access_log /var/log/nginx/ddns.access.log;
  error_log /var/log/nginx/ddns.error.log;

  root {{ ddns_web_root }};
  index update.cgi;

  location ~ ^/cgi-bin/.*\.cgi$ {
    gzip off;

    include fastcgi_params;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_param HTTPS on;
    fastcgi_pass unix:/var/run/fcgiwrap/fcgiwrap.sock;
  }
}
