//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";

// Dynamic zone
zone {{ ddns_base_domain }} {
    type master;
    file "{{ ddns_zone_dir }}/{{ ddns_base_domain }}";
    allow-update { {% for dyndomain in ddns_domains %}Key "{{ dyndomain.domain }}"; {% endfor %}};
    allow-transfer { none; };
};

// DDNS keys
{% for dyndomain in ddns_domains %}

include "{{ ddns_key_dir }}/{{ dyndomain.id }}.key";

{% endfor %}
