$ORIGIN .
$TTL 300	; 5 minutes
{{ ddns_base_domain }}		IN SOA	dns.{{ ddns_base_domain }} {{ ddns_admin_mail }}. (
				24         ; serial
				3600       ; refresh (1 hour)
				600        ; retry (10 minutes)
				604800     ; expire (1 week)
				300        ; minimum (5 minutes)
				)
			NS	dns.{{ ddns_base_domain }}.
$ORIGIN {{ ddns_base_domain }}.
dns			A	127.0.0.1
$TTL 60	; 1 minute
home			A	127.0.0.1
			TXT	"Updated by cgi-bin/update.cgi v. 0.2, Sun Sep 28 14:21:29 2014"
