#uncomment the line below when you set a valid administrator password
{% if warband_adminpass is defined %}
set_pass_admin {{ warband_adminpass }}
{% endif %}

#if you have premium members, set a password for them, otherwise delete/comment out the line below
#uncomment the line below when you set a valid private password
{% if warband_privatepass is defined %}
set_pass_private {{ warband_privatepass }}
{% endif %}

#use the line below to set a valid server name
set_server_name {{ warband_servername }}

#uncomment the line below when you set a valid welcome message
{% if warband_welcome_msg is defined %}
set_welcome_message {{ warband_welcome_msg }}
{% endif %}

#set mode
set_mission {{ warband_game_mode }}

#since default team point limit is 300, the line below is necessary for this mode
set_team_point_limit {{ warband_team_point_limit }}

#setting max players, first one is non-premium member limit, second one is premium member limit
set_max_players {{ warband_max_players }} {{ warband_max_players_premium }}
set_num_bots_voteable {{ warband_num_bots_voteable }}

{% for map in warband_maps %}
{% if loop.first %}
set_map {{ map }}
{% else %}
add_map {{ map }}
{% endif %}
{% endfor %}

#adding all nations to both sides just to randomize all of them
#adding less nations will reduce the randomization set (used in set_randomize_factions command)
{% for faction in warband_factions %}
add_factions {{ faction }} {{ faction }}
{% endfor %}

set_randomize_factions {{ warband_randomize_factions }}

#if the bottleneck is your server's bandwidth, then make sure that you set a correct value for upload limit
set_upload_limit {{ warband_upload_limit }}
#if you are running more than one dedicated server on the same computer, you must give different ports to each of them
set_port {{ warband_port }}

set_server_log_folder Logs
set_server_ban_list_file var/ban_list.txt

set_add_to_game_servers_list {{ warband_add_to_serverlist }}

start
