#!/bin/sh
#
# $FreeBSD$
#
# PROVIDE: warband
# REQUIRE: NETWORKING SYSLOG
# KEYWORD: shutdown
#
# Add the following lines to /etc/rc.conf to enable warband:
#
# warband="YES"

. /etc/rc.subr

name="warband"
rcvar="mwarband_enable"

load_rc_config $name

: ${warband_user:="{{ warband_username }}"}
: ${warband_enable:="NO"}
: ${warband_chdir:="{{ warband_game_dir }}"}

command="/usr/local/bin/tmux"

start_cmd="${name}_start"
stop_cmd="${name}_stop"

warband_start() {
	cd ${warband_chdir}
	/usr/local/bin/sudo -u ${warband_user} ${command} new -d -s warband '/usr/local/bin/wineconsole --backend=curses mb_warband_dedicated.exe -r config.txt -m {{ warband_module }}'
}

warband_stop() {
	/usr/local/bin/sudo -u ${warband_user} ${command} kill-session -t warband
}

run_rc_command "$1"
