parameters:
    secret: {{ contao_secret }}
    database_host: {{ contao_dbhost }}
    database_port: {{ contao_dbport }}
    database_user: {{ contao_dbuser }}
    database_password: {{ contao_dbpassword }}
    database_name: {{ contao_dbname }}
    mailer_transport: mail
    mailer_host: {{ contao_mail_host }}
    mailer_user: {{ contao_mail_user }}
    mailer_password: {{ contao_mail_password }}
    mailer_port: {{ contao_mail_port }}
    mailer_encryption: {{ contao_mail_encryption }}
    prepend_locale: false