dn: {{ ldapclient_base_dn }}
objectclass: dcObject
objectclass: organization
o: {{ openldap_base_dc }}
dc: {{ openldap_base_dc }}

dn: ou=People,{{ ldapclient_base_dn }}
ou: People
objectClass: top
objectClass: organizationalUnit

dn: ou=Readers,{{ ldapclient_base_dn }}
objectclass: organizationalUnit
objectclass: top
ou: Readers

dn: ou=Domains,{{ ldapclient_base_dn }}
ou: Domains
objectClass: top
objectClass: organizationalUnit

dn: ou=Groups,{{ ldapclient_base_dn }}
ou: People
objectClass: top
objectClass: organizationalUnit
