<label for="details-{{ctrl.name}}">{{ctrl.meta.readableName}}</label>
<input type="date" id="details-{{ctrl.name}}" name="{{ctrl.name}}"
	   ng-model="ctrl.data.value" date-model ng-model-options="{ debounce: 500 }"
	   ng-change="ctrl.model.updateContact()" value=""
	   focus-expression="$parent.ctrl.focus === ctrl.name"
/>
<button ng-click="ctrl.deleteField()" class="icon-delete" title="Delete"></button>
