#!/bin/sh
#
# $FreeBSD$
#
# PROVIDE: buildmaster_{{ item.id }}
# REQUIRE: NETWORKING SYSLOG
# KEYWORD: shutdown
#
# Add the following lines to /etc/rc.conf to enable buildmaster_{{ item.id }}:
#
# buildmaster_{{ item.id }}_enable="YES"

. /etc/rc.subr

name="buildmaster_{{ item.id }}"
rcvar=`set_rcvar`

load_rc_config $name

: ${buildmaster_{{ item.id }}_enable:="NO"}
: ${buildmaster_{{ item.id }}_chdir:="{{ buildbot_master_home_dir }}/{{ item.id }}"}
: ${buildmaster_{{ item.id }}_user:="{{ buildbot_master_user }}"}
: ${buildmaster_{{ item.id }}_group:="{{ buildbot_master_group }}"}

pidfile="${buildmaster_{{ item.id }}_chdir}/twistd.pid"

command="/usr/local/bin/buildbot"
flags="start"
procname="/usr/local/bin/python2.7"

run_rc_command "$1"
