<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ buildbot_master_title }}</title>
</head>

<body>
  <h1>{{ buildbot_master_title }}</h1>
  <ul>
  {% for master in buildbot_master_masters %}
    <li><a href="/{{ master.id }}/waterfall">{{ master.title }}</a></li>
  {% endfor %}
  </ul>
</body>
</html>
