server_host = {{ ldapclient_uri }}
search_base = ou=People,{{ ldapclient_base_dn }}
version = 3
bind = yes
start_tls = yes
bind_dn = {{ mailserver_ldap_dn }}
bind_pw = {{ mailserver_ldap_password }}
query_filter = (&(objectclass=inetOrgPerson)(cn=%u)(memberOf={{ mailserver_ldap_group }}))
result_attribute = mail
