server_host = {{ ldapclient_uri }}
start_tls = yes
bind = yes
bind_dn = {{ mailserver_ldap_dn }}
bind_pw = {{ mailserver_ldap_password }}
search_base = ou=People,{{ ldapclient_base_dn }}
query_filter = (&(objectclass=inetLocalMailRecipient)(mailLocalAddress=%s)(memberOf={{ mailserver_ldap_group }}))
result_attribute = mail
