server_host = {{ ldapclient_uri }}
start_tls = yes
bind = yes
bind_dn = {{ mailserver_ldap_dn }}
bind_pw = {{ mailserver_ldap_password }}
search_base = ou=Domains,{{ ldapclient_base_dn }}
version = 3
query_filter = (&(ObjectClass=dNSDomain)(dc=%s))
result_attribute = dc
