# See /usr/share/postfix/main.cf.dist for a commented, more complete version


# Debian specific:  Specifying a file name will cause the first
# line of that file to be used as the name.  The Debian default
# is /etc/mailname.
#myorigin = /etc/mailname

smtpd_banner = $myhostname ESMTP $mail_name (FreeBSD)
biff = no

# appending .domain is the MUA's job.
append_dot_mydomain = no

# Uncomment the next line to generate "delayed mail" warnings
#delay_warning_time = 4h

readme_directory = no

smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache
smtpd_tls_mandatory_protocols = !SSLv2, !SSLv3

tls_preempt_cipherlist = yes
smtpd_tls_mandatory_ciphers = high
smtpd_tls_ciphers = high
smtpd_tls_mandatory_exclude_ciphers = aNULL, MD5, 3DES

smtp_tls_mandatory_ciphers = $smtpd_tls_mandatory_ciphers
smtp_tls_ciphers = $smtpd_tls_ciphers
lmtp_tls_mandatory_ciphers = $smtpd_tls_mandatory_ciphers
lmtp_tls_ciphers = $smtpd_tls_ciphers

# See /usr/share/doc/postfix/TLS_README.gz in the postfix-doc package for
# information on enabling SSL in the smtp client.

alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
mydestination = localhost.localdomain, localhost, {{ inventory_hostname.split('-')[1:] |join() }}
myhostname = {{ mailserver_full_domain }}
relayhost =
mynetworks = 10.0.0.0/8 127.0.0.0/8
mailbox_size_limit = 0
recipient_delimiter = +
inet_interfaces = all
inet_protocols = ipv4

# the proxy is necessary for debian jessie as the pgsql connection fails otherwise
virtual_mailbox_domains = proxy:ldap:{{ mailserver_postfix_conf_dir }}/ldap-virtual-mailbox-domains.cf
virtual_mailbox_maps = proxy:ldap:{{ mailserver_postfix_conf_dir }}/ldap-virtual-mailbox-maps.cf
virtual_alias_maps = proxy:ldap:{{ mailserver_postfix_conf_dir }}/ldap-virtual-alias-maps.cf

virtual_transport = lmtp:unix:private/dovecot-lmtp
dovecot_destination_recipient_limit = 1
smtpd_sasl_type = dovecot
smtpd_sasl_path = private/auth
smtpd_sasl_auth_enable = yes
smtpd_tls_security_level = may
smtpd_tls_auth_only = yes

smtpd_milters =
    inet:127.0.0.1:8891
    unix:private/spamass-milter
non_smtpd_milters = $smtpd_milters
milter_default_action = accept
milter_connect_macros = "i j {daemon_name} v {if_name} _"
message_size_limit = 52428800

sender_dependent_default_transport_maps = hash:{{ mailserver_postfix_conf_dir }}/sender_transport

compatibility_level = 2
