#!/bin/sh
REPOSITORY=/home/{{ backup_user }}/backup.attic/
export ATTIC_PASSPHRASE={{ backup_password }}

if [ ! -d "$REPOSITORY"/data/ ]; then
  /usr/local/bin/attic init --encryption=passphrase $REPOSITORY
fi

/usr/local/bin/attic create --stats \
    $REPOSITORY::`date +%Y-%m-%d_%H-%M` \
    {% for path in backup_paths %}
    {{ path }} \
    {% endfor %}

/usr/local/bin/attic prune -v $REPOSITORY --keep-hourly={{ backup_keep_hourly }} --keep-daily={{ backup_keep_daily }} --keep-weekly={{ backup_keep_weekly }} --keep-monthly={{ backup_keep_monthly }}
