#!/bin/sh
#
# $FreeBSD$
#
# PROVIDE: safari_bowl
# REQUIRE: NETWORKING SYSLOG
# KEYWORD: shutdown
#
# Add the following lines to /etc/rc.conf to enable safari_bowl:
#
# safari_bowl_enable="YES"

. /etc/rc.subr

name="safari_bowl"
rcvar="${name}_enable"

load_rc_config $name

: ${safari_bowl_enable:="NO"}
: ${safari_bowl_chdir:="{{ safari_bowl_home_dir }}"}

pidfile="{{ safari_bowl_home_dir }}/safari_bowl.pid"

java_command="/usr/local/bin/java"
java_flags="-jar SafariBowl.jar -n -p {{ safari_bowl_port }}"

command="/usr/sbin/daemon"
flags="-f -u {{ safari_bowl_username }} -p ${pidfile} ${java_command} ${java_flags}"
procname="/usr/local/openjdk8/bin/java"

run_rc_command "$1"
