APP_ENV=local
APP_DEBUG={{ koel_debug }}
APP_KEY={{ koel_app_key }}
JWT_SECRET={{ koel_jwt_secret }}

ADMIN_EMAIL={{ koel_admin_email }}
ADMIN_NAME={{ koel_admin_name }}
ADMIN_PASSWORD={{ koel_admin_password }}

# The maximum scan time, in seconds. Increase this if you have a huge library.
APP_MAX_SCAN_TIME={{ koel_max_scan_time }}

FFMPEG_PATH={{ koel_ffmpeg_path }}
OUTPUT_BIT_RATE={{ koel_output_bit_rate }}

STREAMING_METHOD=x-accel-redirect

DB_CONNECTION=pgsql
DB_HOST={{ koel_db_host }}
DB_DATABASE={{ koel_dbname }}
DB_USERNAME={{ koel_dbuser }}
DB_PASSWORD={{ koel_dbpassword}}

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST={{ koel_smtp_host }}
MAIL_PORT={{ koel_smtp_port }}
MAIL_USERNAME={{ koel_smtp_user }}
MAIL_PASSWORD={{ koel_smtp_password }}
MAIL_ENCRYPTION={{ koel_smtp_encryption }}
