#!/bin/sh
#
# $FreeBSD$
#
# PROVIDE: etherpad
# REQUIRE: NETWORKING SYSLOG
# KEYWORD: shutdown
#
# Add the following lines to /etc/rc.conf to enable etherpad:
#
# etherpad_enable="YES"

. /etc/rc.subr

name="etherpad"
rcvar=`set_rcvar`

load_rc_config $name

: ${etherpad_enable:="NO"}
: ${etherpad_chdir:="{{ etherpad_app_dir }}"}

command="/usr/sbin/daemon"
node_command="/usr/local/bin/node"
node_flags="{{ etherpad_app_dir }}/node_modules/ep_etherpad-lite/node/server.js"

pidfile="${etherpad_chdir}/${name}.pid"

flags="-u {{ etherpad_username }} -p ${pidfile} ${node_command} ${node_flags} >> {{ etherpad_app_dir }}/etherpad.log"
procname=${node_command}

run_rc_command "$1"
