/*
  This file must be valid JSON. But comments are allowed

  Please edit settings.json, not settings.json.template
*/
{
  // Name your instance!
  "title": "{{ etherpad_title }}",

  // favicon default name
  // alternatively, set up a fully specified Url to your own favicon
  "favicon": "favicon.ico",

  //IP and port which etherpad should bind at
  "ip": "{{ etherpad_host }}",
  "port" : {{ etherpad_port }},

  //The Type of the database. You can choose between dirty, postgres, sqlite and mysql
  //You shouldn't use "dirty" for for anything else than testing or development
  "dbType" : "postgres",
  "dbSettings" : {
      "user"    : "{{ etherpad_db_user }}",
      "host"    : "{{ etherpad_db_host }}",
      "password": "{{ etherpad_db_password }}",
      "database": "{{ etherpad_db_name }}"
  },

  //the default text of a pad
  "defaultPadText" : "{{ etherpad_default_text }}",

  /* Default Pad behavior, users can override by changing */
  "padOptions": {
    "noColors": {{ etherpad_no_colors }},
    "showControls": {{ etherpad_show_controls }},
    "showChat": {{ etherpad_show_chat }},
    "showLineNumbers": {{ etherpad_show_linenumbers }},
    "useMonospaceFont": {{ etherpad_use_monospace_font }},
    "userName": "{{ etherpad_user_name }}",
    "userColor": "{{ etherpad_user_color }}",
    "rtl": {{ etherpad_rtl }},
    "alwaysShowChat": {{ etherpad_always_show_chat }},
    "chatAndUsers": {{ etherpad_chat_and_users }},
    "lang": "{{ etherpad_language }}"
  },

  /* Shoud we suppress errors from being visible in the default Pad Text? */
  "suppressErrorsInPadText" : {{ etherpad_suppress_errors_in_pad_text }},

  /* Users must have a session to access pads. This effectively allows only group pads to be accessed. */
  "requireSession" : {{ etherpad_require_session }},

  /* Users may edit pads but not create new ones. Pad creation is only via the API. This applies both to group pads and regular pads. */
  "editOnly" : {{ etherpad_edit_only }},

  /* Users, who have a valid session, automatically get granted access to password protected pads */
  "sessionNoPassword" : {{ etherpad_session_no_password }},

  /* if true, all css & js will be minified before sending to the client. This will improve the loading performance massivly,
     but makes it impossible to debug the javascript/css */
  "minify" : {{ etherpad_minify }},

  /* How long may clients use served javascript code (in seconds)? Without versioning this
     may cause problems during deployment. Set to 0 to disable caching */
  "maxAge" : {{ etherpad_max_age }}, // 60 * 60 * 6 = 6 hours

  /* This is the path to the Abiword executable. Setting it to null, disables abiword.
     Abiword is needed to advanced import/export features of pads*/
  "abiword" : "/usr/local/bin/abiword",

  /* Allow import of file types other than the supported types: txt, doc, docx, rtf, odt, html & htm */
  "allowUnknownFileEnds" : {{ etherpad_allow_unknown_file_ends }},

  /* This setting is used if you require authentication of all users.
     Note: /admin always requires authentication. */
  "requireAuthentication" : {{ etherpad_require_authentication }},

  /* Require authorization by a module, or a user with is_admin set, see below. */
  "requireAuthorization" : {{ etherpad_require_authorization }},

  /*when you use NginX or another proxy/ load-balancer set this to true*/
  "trustProxy" : true,

  /* Privacy: disable IP logging */
  "disableIPlogging" : {{ etherpad_disable_ip_logging }},

  /* Users for basic authentication. is_admin = true gives access to /admin.
     If you do not uncomment this, /admin will not be available! */

  "users": {
    {% for user in etherpad_users %}
    "{{ user.name }}": {
        "password": "{{ user.password }}",
        "is_admin": "{{ user.is_admin }}"
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  },


  // restrict socket.io transport methods
  "socketTransportProtocols" : ["xhr-polling", "jsonp-polling", "htmlfile"],

  // Allow Load Testing tools to hit the Etherpad Instance.  Warning this will disable security on the instance.
  "loadTest": {{ etherpad_load_test }},

  /* The toolbar buttons configuration.
  "toolbar": {
    "left": [
      ["bold", "italic", "underline", "strikethrough"],
      ["orderedlist", "unorderedlist", "indent", "outdent"],
      ["undo", "redo"],
      ["clearauthorship"]
    ],
    "right": [
      ["importexport", "timeslider", "savedrevision"],
      ["settings", "embed"],
      ["showusers"]
    ],
    "timeslider": [
      ["timeslider_export", "timeslider_returnToPad"]
    ]
  },
  */

  /* The log level we are using, can be: DEBUG, INFO, WARN, ERROR */
  "loglevel": "{{ etherpad_log_level }}",

  //Logging configuration. See log4js documentation for further information
  // https://github.com/nomiddlename/log4js-node
  // You can add as many appenders as you want here:
  "logconfig" :
    { "appenders": [
        {
            "type": "console"
        }
      ]
    }
}
