###############################################################################
## Monit control file
###############################################################################
##
## Comments begin with a '#' and extend through the end of the line. Keywords
## are case insensitive. All path's MUST BE FULLY QUALIFIED, starting with '/'.
##
## Below you will find examples of some frequently used statements. For
## information about the control file and a complete list of statements and
## options, please have a look in the Monit manual.
##
##
###############################################################################
## Global section
###############################################################################
##
## Start Monit in the background (run as a daemon):
#
set daemon  {{ monit_check_interval }}
#   with start delay 240    # optional: delay the first check by 4-minutes (by
#                           # default Monit check immediately after Monit start)
#
#
## Set syslog logging. If you want to log to a standalone log file instead,
## specify the full path to the log file
#
set logfile syslog

#
#
## Set the location of the Monit lock file which stores the process id of the
## running Monit instance. By default this file is stored in $HOME/.monit.pid
#
# set pidfile /var/run/monit.pid
#
## Set the location of the Monit id file which stores the unique id for the
## Monit instance. The id is generated and stored on first Monit start. By
## default the file is placed in $HOME/.monit.id.
#
# set idfile /var/.monit.id
#
## Set the location of the Monit state file which saves monitoring states
## on each cycle. By default the file is placed in $HOME/.monit.state. If
## the state file is stored on a persistent filesystem, Monit will recover
## the monitoring state across reboots. If it is on temporary filesystem, the
## state will be lost on reboot which may be convenient in some situations.
#
# set statefile /var/.monit.state
#
## Set the list of mail servers for alert delivery. Multiple servers may be
## specified using a comma separator. If the first mail server fails, Monit
# will use the second mail server in the list and so on. By default Monit uses
# port 25 - it is possible to override this with the PORT option.
#
# set mailserver mail.bar.baz,               # primary mailserver
#                backup.bar.baz port 10025,  # backup mailserver on port 10025
#                localhost                   # fallback relay
#
{% for mailer in monit_mailers %}
{% if loop.first %}set {% endif %}mailserver {{ mailer.host }} port {{ mailer.port }}
username "{{ mailer.user }}" password "{{ mailer.password }}"
using {{ mailer.tls_method |default('TLSV12') }}
with timeout {{ mailer.timeout |default(15) }} seconds{% if not loop.last %},{% endif %}
{% endfor %}

## By default Monit will drop alert events if no mail servers are available.
## If you want to keep the alerts for later delivery retry, you can use the
## EVENTQUEUE statement. The base directory where undelivered alerts will be
## stored is specified by the BASEDIR option. You can limit the queue size
## by using the SLOTS option (if omitted, the queue is limited by space
## available in the back end filesystem).
#
# set eventqueue
#     basedir /var/monit  # set the base directory where events will be stored
#     slots 100           # optionally limit the queue size
#
#
## Send status and events to M/Monit (for more informations about M/Monit
## see http://mmonit.com/). By default Monit registers credentials with
## M/Monit so M/Monit can smoothly communicate back to Monit and you don't
## have to register Monit credentials manually in M/Monit. It is possible to
## disable credential registration using the commented out option below.
## Though, if safety is a concern we recommend instead using https when
## communicating with M/Monit and send credentials encrypted.
#
# set mmonit http://monit:monit@192.168.1.10:8080/collector
#     # and register without credentials     # Don't register credentials
#
#
## Monit by default uses the following format for alerts if the the mail-format
## statement is missing::
## --8<--
## set mail-format {
##      from: monit@$HOST
##   subject: monit alert --  $EVENT $SERVICE
##   message: $EVENT Service $SERVICE
##                 Date:        $DATE
##                 Action:      $ACTION
##                 Host:        $HOST
##                 Description: $DESCRIPTION
##
##            Your faithful employee,
##            Monit
## }
## --8<--
##
## You can override this message format or parts of it, such as subject
## or sender using the MAIL-FORMAT statement. Macros such as $DATE, etc.
## are expanded at runtime. For example, to override the sender, use:
#
set mail-format { from: {{ monit_mail_from }} }
#
#
## You can set alert recipients whom will receive alerts if/when a
## service defined in this file has errors. Alerts may be restricted on
## events by using a filter as in the second example below.
#
set alert {{ monit_alert_recipient }}                       # receive all alerts
#
## Do not alert when Monit starts, stops or performs a user initiated action.
## This filter is recommended to avoid getting alerts for trivial cases.
#
# set alert your-name@your.domain not on { instance, action }
#
#
set httpd port 2812 and
    use address {{ ploy_ip |default('localhost') }}   # only accept connection from localhost
    allow {{ ploy_ip |default('localhost') }}    # allow localhost to connect to the server and
    allow {{ monit_web_user }}:{{ monit_web_password }}      # require user 'admin' with password 'monit'

###############################################################################
## Services
###############################################################################
{% for key, check in monit_checks.items() %}
check {{ check.type }} {{ check.target }} {% if check.args is defined %}with {{ check.args }}{% endif %}

{% if check.start is defined %}
    start program = "{{ check.start.cmd }}" {% if check.start.uid is defined %}as uid {{ check.start.uid }}{% endif %} {% if check.start.gid is defined %}as gid {{ check.start.gid }}{% endif %} {% if check.start.timeout is defined %} with timeout {{ check.start.timeout }} seconds{% endif %}
{% endif %}

{% if check.stop is defined %}
    stop program = "{{ check.stop.cmd }}" {% if check.stop.uid is defined %}as uid {{ check.stop.uid }}{% endif %} {% if check.stop.gid is defined %}as gid {{ check.stop.gid }}{% endif %} {% if check.stop.timeout is defined %} with timeout {{ check.stop.timeout }} seconds{% endif %}
{% endif %}

{% if check.restart is defined %}
    restart program = "{{ check.restart.cmd }}" {% if check.restart.uid is defined %}as uid {{ check.restart.uid }}{% endif %} {% if check.restart.gid is defined %}as gid {{ check.restart.gid }}{% endif %} {% if check.restart.timeout is defined %} with timeout {{ check.restart.timeout }} seconds{% endif %}
{% endif %}

{% if check.every is defined %}
    {{ check.every.state }} {{ check.every.cycle }}
{% endif %}

{% if check.if_clauses is defined %}
{% for if_clause in check.if_clauses %}
    if {{ if_clause.clause }} {% if if_clause.cycles is defined %}for {{ if_clause.cycles }} cycles{% endif %}{% if if_clause.timeout is defined %} with timeout {{ if_clause.timeout }} seconds{% endif %} then {{ if_clause.consequence }}
{% endfor %}
{% endif %}

{% if check.group is defined %}
    group {{ check.group }}
{% endif %}

{% if check.dependencies is defined %}
    depends on {% for dep in check.dependencies %}{{ dep }}{% if not loop.last %},{% endif %}{% endfor %}
{% endif %}
{% if not loop.last %},{% endif %}
{% endfor %}
