#!/bin/sh

{% for domain in letsencrypt_domains %}

if [ $1 ] || [ ! -f {{ letsencrypt_cert_dir }}/{{ domain.namespace }}/{{ domain.name }}.chained.crt ]; then
    acme_tiny --account-key {{ letsencrypt_account_key }} --csr {{ letsencrypt_csr_dir }}/{{ domain.namespace }}/{{ domain.name }}.csr --acme-dir {{ letsencrypt_challenge_dir }} > {{ letsencrypt_cert_dir }}/{{ domain.namespace }}/{{ domain.name }}.crt
    cat  {{ letsencrypt_cert_dir }}/{{ domain.namespace }}/{{ domain.name }}.crt {{ letsencrypt_intermediate_file }} > {{ letsencrypt_cert_dir }}/{{ domain.namespace }}/{{ domain.name }}.chained.crt
fi

{% endfor %}
