#!/bin/sh

{% for domain in letsencrypt_domains %}

mkdir -p {{ letsencrypt_key_dir }}/{{ domain.namespace }}
mkdir -p {{ letsencrypt_csr_dir }}/{{ domain.namespace }}
mkdir -p {{ letsencrypt_cert_dir }}/{{ domain.namespace }}

if [ ! -f {{ letsencrypt_key_dir }}/{{ domain.namespace }}/{{ domain.name }}.key ]; then
    openssl genrsa 4096 > {{ letsencrypt_key_dir }}/{{ domain.namespace }}/{{ domain.name }}.key
fi

if [ ! -f {{ letsencrypt_csr_dir }}/{{ domain.namespace }}/{{ domain.name }}.csr ]; then
    openssl req -new -sha256 -key {{ letsencrypt_key_dir }}/{{ domain.namespace }}/{{ domain .name}}.key -subj "/CN={{ domain.name }}" > {{ letsencrypt_csr_dir }}/{{ domain.namespace }}/{{ domain.name }}.csr
fi

{% endfor %}
