# All paths in this configuration file are relative to Dynmap's data-folder: minecraft_server/plugins/dynmap/

# All map templates are defined in the templates directory
# To use the HDMap very-low-res (2 ppb) map templates as world defaults, set value to vlowres
#   The definitions of these templates are in normal-vlowres.txt, nether-vlowres.txt, and the_end-vlowres.txt
# To use the HDMap low-res (4 ppb) map templates as world defaults, set value to lowres
#   The definitions of these templates are in normal-lowres.txt, nether-lowres.txt, and the_end-lowres.txt
# To use the HDMap hi-res (16 ppb) map templates (these can take a VERY long time for initial fullrender), set value to hires
#   The definitions of these templates are in normal-hires.txt, nether-hires.txt, and the_end-hires.txt
# To use the HDMap low-res (4 ppb) map templates, with support for boosting resolution selectively to hi-res (16 ppb), set value to low_boost_hi
#   The definitions of these templates are in normal-low_boost_hi.txt, nether-low_boost_hi.txt, and the_end-low_boost_hi.txt
# To use the HDMap hi-res (16 ppb) map templates, with support for boosting resolution selectively to vhi-res (32 ppb), set value to hi_boost_vhi
#   The definitions of these templates are in normal-hi_boost_vhi.txt, nether-hi_boost_vhi.txt, and the_end-hi_boost_vhi.txt
# To use the HDMap hi-res (16 ppb) map templates, with support for boosting resolution selectively to xhi-res (64 ppb), set value to hi_boost_xhi
#   The definitions of these templates are in normal-hi_boost_xhi.txt, nether-hi_boost_xhi.txt, and the_end-hi_boost_xhi.txt
deftemplatesuffix: {{ minecraft_dynmap_deftemplatesuffix }}

# Map storage scheme: only uncommoent one 'type' value
#  filetree: classic and default scheme: tree of files, with all map data under the directory indicated by 'tilespath' setting
#  sqlite: single SQLite database file (this can get VERY BIG), located at 'dbfile' setting (default is file dynmap.db in data directory)
#  mysql: MySQL database, at hostname:port in database, accessed via userid with password
storage:
  # Filetree storage (standard tree of image files for maps)
  type: filetree
  # SQLite db for map storage (uses dbfile as storage location)
  #type: sqlite
  #dbfile: dynmap.db
  # MySQL DB for map storage (at 'hostname':'port' in database 'database' using user 'userid' password 'password' and table prefix 'prefix'
  #type: mysql
  #hostname: localhost
  #port: 3306
  #database: dynmap
  #userid: dynmap
  #password: dynmap
  #prefix: ""

components:
  - class: org.dynmap.ClientConfigurationComponent

  - class: org.dynmap.InternalClientUpdateComponent
    sendhealth: {{ minecraft_dynmap_sendhealth }}
    sendposition: {{ minecraft_dynmap_sendposition }}
    allowwebchat: {{ minecraft_dynmap_allowwebchat }}
    webchat-interval: {{ minecraft_dynmap_webchat_interval }}
    hidewebchatip: {{ minecraft_dynmap_hidewebchatip }}
    trustclientname: {{ minecraft_dynmap_trustclientname }}
    includehiddenplayers: {{ minecraft_dynmap_includehiddenplayers }}
    # (optional) if true, color codes in player display names are used
    use-name-colors: {{ minecraft_dynmap_use_name_colors }}
    # (optional) if true, player login IDs will be used for web chat when their IPs match
    use-player-login-ip: {{ minecraft_dynmap_use_player_login_ip }}
    # (optional) if use-player-login-ip is true, setting this to true will cause chat messages not matching a known player IP to be ignored
    require-player-login-ip: {{ minecraft_dynmap_require_player_login_ip }}
    # (optional) block player login IDs that are banned from chatting
    block-banned-player-chat: {{ minecraft_dynmap_block_banned_player_chat }}
    # Require login for web-to-server chat (requires login-enabled: true)
    webchat-requires-login: {{ minecraft_dynmap_webchat_requires_login }}
    # If set to true, users must have dynmap.webchat permission in order to chat
    webchat-permissions: {{ minecraft_dynmap_webchat_permissions }}
    # Limit length of single chat messages
    chatlengthlimit: {{ minecraft_dynmap_chatlengthlimit }}
  #  # Optional - make players hidden when they are inside/underground/in shadows (#=light level: 0=full shadow,15=sky)
  #  hideifshadow: 4
  #  # Optional - make player hidden when they are under cover (#=sky light level,0=underground,15=open to sky)
  #  hideifundercover: 14
  #  # (Optional) if true, players that are crouching/sneaking will be hidden
    hideifsneaking: {{ minecraft_dynmap_hideifsneaking }}
    # If true, player positions/status is protected (login with ID with dynmap.playermarkers.seeall permission required for info other than self)
    protected-player-info: {{ minecraft_dynmap_protected_player_info }}
    # If true, hide players with invisibility potion effects active
    hide-if-invisiblity-potion: {{ minecraft_dynmap_hide_if_invisiblity_potion }}
    # If true, player names are not shown on map, chat, list
    hidenames: {{ minecraft_dynmap_hidenames }}

  - class: org.dynmap.SimpleWebChatComponent
    allowchat: {{ minecraft_dynmap_allowwebchat }}
    # If true, web UI users can supply name for chat using 'playername' URL parameter.  'trustclientname' must also be set true.
    allowurlname: {{ minecraft_dynmap_allowurlname }}

  # Note: this component is needed for the dmarker commands, and for the Marker API to be available to other plugins
  - class: org.dynmap.MarkersComponent
    type: markers
    showlabel: false
    enablesigns: false
    # Default marker set for sign markers
    default-sign-set: markers
    # (optional) add spawn point markers to standard marker layer
    showspawn: {{ minecraft_dynmap_showspawn }}
    spawnicon: world
    spawnlabel: "{{ minecraft_dynmap_spawnlabel }}"
    # (optional) layer for showing offline player's positions (for 'maxofflinetime' minutes after logoff)
    showofflineplayers: {{ minecraft_dynmap_showofflineplayers }}
    offlinelabel: "{{ minecraft_dynmap_offlinelabel }}"
    offlineicon: offlineuser
    offlinehidebydefault: {{ minecraft_dynmap_offlinehidebydefault }}
    offlineminzoom: {{ minecraft_dynmap_offlineminzoom }}
    maxofflinetime: {{ minecraft_dynmap_maxofflinetime }}
    # (optional) layer for showing player's spawn beds
    showspawnbeds: {{ minecraft_dynmap_showspawnbeds }}
    spawnbedlabel: "{{ minecraft_dynmap_spawnbedlabel }}"
    spawnbedicon: bed
    spawnbedhidebydefault: {{ minecraft_dynmap_spawnbedhidebydefault }}
    spawnbedminzoom: {{ minecraft_dynmap_spawnbedminzoom }}
    spawnbedformat: "{{ minecraft_dynmap_spawnbedformat }}"

  - class: org.dynmap.ClientComponent
    type: chat
    allowurlname: {{ minecraft_dynmap_allowurlname }}
  - class: org.dynmap.ClientComponent
    type: chatballoon
    focuschatballoons: {{ minecraft_dynmap_focuschatballoons }}
  - class: org.dynmap.ClientComponent
    type: chatbox
    showplayerfaces: {{ minecraft_dynmap_showplayerfaces }}
    messagettl: {{ minecraft_dynmap_messagettl }}
    # Optional: set number of lines in scrollable message history: if set, messagettl is not used to age out messages
    scrollback: {{ minecraft_dynmap_scrollback }}
    # Optiona; set maximum number of lines visible for chatbox
    visiblelines: {{ minecraft_dynmap_visiblelines }}
    # Optional: send push button
    sendbutton: {{ minecraft_dynmap_sendbutton }}
  - class: org.dynmap.ClientComponent
    type: playermarkers
    showplayerfaces: {{ minecraft_dynmap_showplayerfaces }}
    showplayerhealth: {{ minecraft_dynmap_showplayerhealth }}
    # If true, show player body too (only valid if showplayerfaces=true
    showplayerbody: {{ minecraft_dynmap_showplayerbody }}
    # Option to make player faces small - don't use with showplayerhealth
    smallplayerfaces: {{ minecraft_dynmap_smallplayerfaces }}
    # Optional - make player faces layer hidden by default
    hidebydefault: {{ minecraft_dynmap_playershidebydefault }}
    # Optional - ordering priority in layer menu (low goes before high - default is 0)
    layerprio: {{ minecraft_dynmap_playerslayerprio }}
    # Optional - label for player marker layer (default is 'Players')
    label: "{{ minecraft_dynmap_playerslabel }}"

  #- class: org.dynmap.ClientComponent
  #  type: digitalclock
  - class: org.dynmap.ClientComponent
    type: link

  - class: org.dynmap.ClientComponent
    type: timeofdayclock
    showdigitalclock: {{ minecraft_dynmap_showdigitalclock }}
    showweather: {{ minecraft_dynmap_showweather }}
  # Mouse pointer world coordinate display
  - class: org.dynmap.ClientComponent
    type: coord
    label: "{{ minecraft_dynmap_coordinatelabel }}"
    hidey: {{ minecraft_dynmap_coordinatehidey }}
    show-mcr: {{ minecraft_dynmap_coordinateshow_mcr }}

  # Note: more than one logo component can be defined
  #- class: org.dynmap.ClientComponent
  #  type: logo
  #  text: "Dynmap"
  #  #logourl: "images/block_surface.png"
  #  linkurl: "http://forums.bukkit.org/threads/dynmap.489/"
  #  # Valid positions: top-left, top-right, bottom-left, bottom-right
  #  position: bottom-right

  #- class: org.dynmap.ClientComponent
  #  type: inactive
  #  timeout: 1800 # in seconds (1800 seconds = 30 minutes)
  #  redirecturl: inactive.html
  #  #showmessage: 'You were inactive for too long.'

  #- class: org.dynmap.TestComponent
  #  stuff: "This is some configuration-value"

# Treat hiddenplayers.txt as a whitelist for players to be shown on the map? (Default false)
display-whitelist: {{ minecraft_dynmap_display_whitelist }}

# How often a tile gets rendered (in seconds).
renderinterval: {{ minecraft_dynmap_renderinterval }}

# How many tiles on update queue before accelerate render interval
renderacceleratethreshold: {{ minecraft_dynmap_renderacceleratethreshold }}

# How often to render tiles when backlog is above renderacceleratethreshold
renderaccelerateinterval: {{ minecraft_dynmap_renderaccelerateinterval }}

# How many update tiles to work on at once (if not defined, default is 1/2 the number of cores)
tiles-rendered-at-once: {{ minecraft_dynmap_tiles_rendered_at_once }}

# If true, use normal priority threads for rendering (versus low priority) - this can keep rendering
# from starving on busy Windows boxes (Linux JVMs pretty much ignore thread priority), but may result
# in more competition for CPU resources with other processes
usenormalthreadpriority: {{ minecraft_dynmap_usenormalthreadpriority }}

# Save and restore pending tile renders - prevents their loss on server shutdown or /reload
saverestorepending: {{ minecraft_dynmap_saverestorepending }}

# Save period for pending jobs (in seconds): periodic saving for crash recovery of jobs
save-pending-period: {{ minecraft_dynmap_save_pending_period }}

# Zoom-out tile update period - how often to scan for and process tile updates into zoom-out tiles (in seconds)
zoomoutperiod: {{ minecraft_dynmap_zoomoutperiod }}

# Control whether zoom out tiles are validated on startup (can be needed if zoomout processing is interrupted, but can be expensive on large maps)
initial-zoomout-validate: {{ minecraft_dynmap_initial_zoomout_validate }}

# Default delay on processing of updated tiles, in seconds.  This can reduce potentially expensive re-rendering
# of frequently updated tiles (such as due to machines, pistons, quarries or other automation).  Values can
# also be set on individual worlds and individual maps.
tileupdatedelay: {{ minecraft_dynmap_tileupdatedelay }}

# Tile hashing is used to minimize tile file updates when no changes have occurred - set to false to disable
enabletilehash: {{ minecraft_dynmap_enabletilehash }}

# Optional - hide ores: render as normal stone (so that they aren't revealed by maps)
hideores: {{ minecraft_dynmap_hideores }}

# Optional - enabled BetterGrass style rendering of grass and snow block sides
better-grass: {{ minecraft_dynmap_better_grass }}

# Optional - enable smooth lighting by default on all maps supporting it (can be set per map as lighting option)
smooth-lighting: {{ minecraft_dynmap_smooth_lighting }}

# Optional - use world provider lighting table (good for custom worlds with custom lighting curves, like nether)
#   false=classic Dynmap lighting curve
use-brightness-table: {{ minecraft_dynmap_use_brightness_table }}

# Optional - render specific block IDs using the texures and models of another block ID: can be used to hide/disguise specific
#  blocks (e.g. make ores look like stone, hide chests) or to provide simple support for rendering unsupported custom blocks
block-id-alias:
#    "14": 1
#    "15": 1
#    "16": 1

# Default image format for HDMaps (png, jpg, jpg-q75, jpg-q80, jpg-q85, jpg-q90, jpg-q95, jpg-q100)
# Has no effect on maps with explicit format settings
image-format: {{ minecraft_dynmap_image_format }}

#  use-generated-textures: if true, use generated textures (same as client); false is static water/lava textures
#  correct-water-lighting: if true, use corrected water lighting (same as client); false is legacy water (darker)
#  transparent-leaves: if true, leaves are transparent (lighting-wise): false is needed for some Spout versions that break lighting on leaf blocks
use-generated-textures: {{ minecraft_dynmap_use_generated_textures }}
correct-water-lighting: {{ minecraft_dynmap_correct_water_lighting }}
transparent-leaves: {{ minecraft_dynmap_transparent_leaves }}

# ctm-support: if true, Connected Texture Mod (CTM) in texture packs is enabled (default)
ctm-support: {{ minecraft_dynmap_ctm_support }}
# custom-colors-support: if true, Custom Colors in texture packs is enabled (default)
custom-colors-support: {{ minecraft_dynmap_custom_colors_support }}

# Control loading of player faces (if set to false, skins are never fetched)
#fetchskins: false

# Control updating of player faces, once loaded (if faces are being managed by other apps or manually)
#refreshskins: false

# Customize URL used for fetching player skins (%player% is macro for name)
skin-url: "http://s3.amazonaws.com/MinecraftSkins/%player%.png"

# Control behavior for new (1.0+) compass orientation (sunrise moved 90 degrees: east is now what used to be south)
#   default is 'newrose' (preserve pre-1.0 maps, rotate rose)
#   'newnorth' is used to rotate maps and rose (requires fullrender of any HDMap map - same as 'newrose' for FlatMap or KzedMap)
compass-mode: {{ minecraft_dynmap_compass_mode }}

render-triggers:
  #- playermove
  #- playerjoin
  - blockplaced
  - blockbreak
  - leavesdecay
  - blockburn
  - chunkgenerated
  - blockformed
  - blockfaded
  - blockspread
  - pistonmoved
  - explosion
  #- blockfromto
  #- blockphysics
  - structuregrow
  - blockgrow
  #- blockredstone

# Title for the web page - if not specified, defaults to the server's name (unless it is the default of 'Unknown Server')
webpage-title: "{{ minecraft_dynmap_title }}"

# The path where the tile-files are placed.
tilespath: web/tiles

# The path where the web-files are located.
webpath: web

# The path were the /dynmapexp command exports OBJ ZIP files
exportpath: export

# The network-interface the webserver will bind to (0.0.0.0 for all interfaces, 127.0.0.1 for only local access).
# If not set, uses same setting as server in server.properties (or 0.0.0.0 if not specified)
#webserver-bindaddress: 0.0.0.0

# The TCP-port the webserver will listen on.
webserver-port: {{ minecraft_dynmap_port }}

# Maximum concurrent session on internal web server - limits resources used in Bukkit server
max-sessions: 30

# Disables Webserver portion of Dynmap (Advanced users only)
disable-webserver: false

# Enable/disable having the web server allow symbolic links (true=compatible with existing code, false=more secure (default))
allow-symlinks: true

# Enable login support
login-enabled: {{ minecraft_dynmap_login_enabled }}
# Require login to access website (requires login-enabled: true)
login-required: {{ minecraft_dynmap_login_required }}

# Period between tile renders for fullrender, in seconds (non-zero to pace fullrenders, lessen CPU load)
timesliceinterval: {{ minecraft_dynmap_timesliceinterval }}

# Maximum chunk loads per server tick (1/20th of a second) - reducing this below 90 will impact render performance, but also will reduce server thread load
maxchunkspertick: {{ minecraft_dynmap_maxchunkspertick }}

# Progress report interval for fullrender/radiusrender, in tiles.  Must be 100 or greater
progressloginterval: {{ minecraft_dynmap_progressloginterval }}

# Parallel fullrender: if defined, number of concurrent threads used for fullrender or radiusrender
#   Note: setting this will result in much more intensive CPU use, some additional memory use.  Caution should be used when
#  setting this to equal or exceed the number of physical cores on the system.
#parallelrendercnt: 4

# Interval the browser should poll for updates.
updaterate: {{ minecraft_dynmap_updaterate }}

# If nonzero, server will pause fullrender/radiusrender processing when 'fullrenderplayerlimit' or more users are logged in
fullrenderplayerlimit: {{ minecraft_dynmap_fullrenderplayerlimit }}
# If nonzero, server will pause update render processing when 'updateplayerlimit' or more users are logged in
updateplayerlimit: {{ minecraft_dynmap_updateplayerlimit }}
# Target limit on server thread use - msec per tick
per-tick-time-limit: {{ minecraft_dynmap_per_tick_time_limit }}
# If TPS of server is below this setting, update renders processing is paused
update-min-tps: {{ minecraft_dynmap_update_min_tps }}
# If TPS of server is below this setting, full/radius renders processing is paused
fullrender-min-tps: {{ minecraft_dynmap_fullrender_min_tps }}
# If TPS of server is below this setting, zoom out processing is paused
zoomout-min-tps: {{ minecraft_dynmap_zoomout_min_tps }}

showplayerfacesinmenu: {{ minecraft_dynmap_showplayerfacesinmenu }}

# Control whether players that are hidden or not on current map are grayed out (true=yes)
grayplayerswhenhidden: {{ minecraft_dynmap_grayplayerswhenhidden }}

# Use player permissions to order player list: first to last, players are ordered by first permission listed that they have
# That is, anyone with first listed permission goes before anyone with second, etc, with users with none of the nodes going last
player-sort-permission-nodes:
  - bukkit.command.op

# Set sidebaropened: 'true' to pin menu sidebar opened permanently, 'pinned' to default the sidebar to pinned, but allow it to unpin
#sidebaropened: true

# Customized HTTP response headers - add 'id: value' pairs to all HTTP response headers (internal web server only)
#http-response-headers:
#    Access-Control-Allow-Origin: "my-domain.com"
#    X-Custom-Header-Of-Mine: "MyHeaderValue"

# Trusted proxies for web server - which proxy addresses are trusted to supply valid X-Forwarded-For fields
trusted-proxies:
  - "127.0.0.1"
  - "0:0:0:0:0:0:0:1"

# Join/quit message format for web chat: set to "" to disable notice on web UI
joinmessage: "{{ minecraft_dynmap_joinmessage }}"
quitmessage: "{{ minecraft_dynmap_quitmessage }}"

spammessage: "{{ minecraft_dynmap_spammessage }}"
# format for messages from web: %playername% substitutes sender ID (typically IP), %message% includes text
webmsgformat: "{{ minecraft_dynmap_webmsgformat }}"

# Control whether layer control is presented on the UI (default is true)
showlayercontrol: {{ minecraft_dynmap_showlayercontrol }}

# Enable checking for banned IPs via banned-ips.txt (internal web server only)
check-banned-ips: {{ minecraft_dynmap_check_banned_ips }}

# Default selection when map page is loaded
defaultzoom: {{ minecraft_dynmap_defaultzoom }}
defaultworld: {{ minecraft_dynmap_defaultworld }}
defaultmap: {{ minecraft_dynmap_defaultmap }}
# (optional) Zoom level and map to switch to when following a player, if possible
#followzoom: 3
#followmap: surface

# If true, make persistent record of IP addresses used by player logins, to support web IP to player matching
persist-ids-by-ip: {{ minecraft_dynmap_persist_ids_by_ip }}

# If true, map text to cyrillic
cyrillic-support: {{ minecraft_dynmap_cyrillic_support }}

# If true, coordinates will be rounded
round-coordinates: {{ minecraft_dynmap_round_coordinates }}

# Messages to customize
msg:
    maptypes: "Map Types"
    players: "Players"
    chatrequireslogin: "Chat Requires Login"
    chatnotallowed: "You are not permitted to send chat messages"
    hiddennamejoin: "Player joined"
    hiddennamequit: "Player quit"

# URL for client configuration (only need to be tailored for proxies or other non-standard configurations)
url:
    # configuration URL
    #configuration: "up/configuration"
    # update URL
    #update: "up/world/{world}/{timestamp}"
    # sendmessage URL
    #sendmessage: "up/sendmessage"
    # login URL
    #login: "up/login"
    # register URL
    #register: "up/register"
    # tiles base URL
    #tiles: "tiles/"
    # markers base URL
    #markers: "tiles/"

# Spout support controls
spout:
    # If false, ignore spout even if detected
    enabled: true
    # If true, previously loaded textures will be assumed to still be valid (faster startup, but
    # can result in stale textures if originals are updated - delete files in texturepacks/standard/spoout
    # to clean cached textures and force reload on next startup)
    use-existing-textures: true

# Customization commands - allows scripts to be run before/after certain events
custom-commands:
    image-updates:
        # Command run just before any image file is written or updated: run with single parameter with fully qualified file name
        preupdatecommand: ""
        # Command run just after any image file is written or updated: run with single parameter with fully qualified file name
        postupdatecommand: ""

# Snapshot cache size, in chunks
snapshotcachesize: {{ minecraft_dynmap_snapshotcachesize }}
# Snapshot cache uses soft references (true), else weak references (false)
soft-ref-cache: {{ minecraft_dynmap_soft_ref_cache }}

# Set to true to enable verbose startup messages - can help with debugging map configuration problems
# Set to false for a much quieter startup log
verbose: false

# Enables debugging.
#debuggers:
#  - class: org.dynmap.debug.LogDebugger
# Debug: dump blocks missing render data
