{% for proxy in jailproxy_proxies %}

server {
  {% if jailproxy_ipv4 %}
  listen 443 ssl;
  {% endif %}
  {% if jailproxy_ipv6 %}
  listen [::]:443 ssl;
  {% endif %}

  ssl_certificate     {{ server_cert_dir }}/certs/{{ proxy.domain }}.chained.crt;
  ssl_certificate_key {{ server_cert_dir }}/keys/{{ proxy.domain }}.key;

  add_header Strict-Transport-Security "max-age=63072000; includeSubdomains; preload";

  {% if proxy.clacks_overhead is defined and proxy.clacks_overhead %}
  add_header X-Clacks-Overhead "GNU Terry Pratchett" always;
  {% endif %}

  {% if proxy.framing is defined %}
  add_header X-Frame-Options "{{ proxy.framing }}";
  {% else %}
  add_header X-Frame-Options "ALLOW";
  {% endif %}

  {% if proxy.disable_buffering is defined and proxy.disable_buffering %}
  proxy_buffering off;
  {% endif %}

  server_name {{ proxy.domain }};

  client_max_body_size {{ proxy.max_body_size }};

  {% for rewrite in proxy.rewrites |default([]) %}
  rewrite {{ rewrite.source }} {{ rewrite.destination }} {{ rewrite.flag |default('permanent') }};
  {% endfor %}

  location / {
    proxy_pass  http://{{ proxy.jail_ip }}{% if proxy.add_args is defined and proxy.add_args %}$is_args$args{% endif %};
    proxy_set_header  Host $http_host;
    proxy_set_header  X-Real-IP $remote_addr;
    proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header  X-Forwarded-Proto $scheme;
    proxy_set_header  X-Forwarded-Host {{ proxy.domain }};
  }
}
{% endfor %}
