{% for master in buildbot_master_masters %}
upstream buildmaster_{{ master.id }} {
  server 127.0.0.1:{{ master.http_port }};
}
{% endfor %}

server {
  listen 80;

  server_name {{ buildbot_master_domain }};

  access_log /var/log/nginx/buildmaster.access.log;
  error_log /var/log/nginx/buildmaster.error.log;

  root {{ buildbot_master_web_dir }};

  {% for master in buildbot_master_masters %}
  location /{{ master.id }}/ {
      {% if master.enable_auth | default(False) %}
      auth_basic "Restricted";
      auth_basic_user_file {{ nginx_config_dir }}/.htpasswd_{{ master.id }};
      {% endif %}

      alias {{ buildbot_master_home_dir }}/{{ master.id }}/public_html;
      proxy_pass http://buildmaster_{{ master.id }}/;
  }
  {% endfor %}
}
