
server {
  listen 80;

  server_name {{ contao_domain }};

  access_log /var/log/nginx/contao.access.log;
  error_log /var/log/nginx/contao.error.log;

  root {{ contao_base_dir }}/web;
  
  disable_symlinks off;
  
  client_max_body_size {{ contao_max_filesize }};
  fastcgi_buffers 64 4K;

  proxy_buffering off;

  index app.php;

  location = /robots.txt {
    allow all;
    log_not_found off;
    access_log off;
  }
  
  location / {
    try_files $uri $uri/ /app.php?$args;
  }

  location ~ \.php(?:$|/) {
    fastcgi_split_path_info ^(.+\.php)(/.+)$;

    include fastcgi_params;
    fastcgi_param PATH_INFO $fastcgi_path_info;
    fastcgi_param HTTPS on;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;

    fastcgi_pass php_contao;
  }
}
