server {
  listen 80;

  server_name {{ minecraft_dynmap_domain }};

  access_log /var/log/nginx/dynmap.access.log;
  error_log /var/log/nginx/dynmap.error.log;

  location / {
    proxy_pass http://dynmap;
    proxy_set_header Host $host;
  }
}
