server {
  listen 80;

  server_name {{ etlegacy_download_domain }};

  access_log /var/log/nginx/etlegacy_download.access.log;
  error_log /var/log/nginx/etlegacy_download.error.log;

  root {{ etlegacy_mod_dir }};

  autoindex off;
}
