server {
  listen 80;

  server_name {{ gitblit_domain }};

  access_log /var/log/nginx/gitblit.access.log;
  error_log /var/log/nginx/gitblit.error.log;

  location / {
    proxy_pass http://gitblit;
    proxy_set_header Host $host;
  }
}
