server {
  listen 80;

  server_name {{ gogs_domain }};

  access_log /var/log/nginx/gog.access.log;
  error_log /var/log/nginx/gogs.error.log;

  location / {
    proxy_pass http://gogs;
    proxy_set_header Host $host;
  }
}
