server {
  listen 80;

  server_name {{ jenkins_domain }};

  access_log /var/log/nginx/jenkins.access.log;
  error_log /var/log/nginx/jenkins.error.log;

  location / {
    proxy_pass http://jenkins;

    proxy_redirect http://localhost:{{ jenkins_port}} $scheme://{{ jenkins_domain }};
  }
}
