server {
  listen 80;

  server_name {{ koel_domain }};

  access_log /var/log/nginx/koel.access.log;
  error_log /var/log/nginx/koel.error.log;

  root {{ koel_app_dir }};

  index index.php index.html;

  # Deny access to dotfiles
  location ~ /\. {
    deny  all;
  }

  # Deny access to framework directories
  location ~ /(app/|bootstrap/|config/|database/|resources/|storage/tests|vendor/) {
    deny  all;
  }

  location /media/ {
    internal;

    # A 'X-Media-Root' should be set to media_path settings from upstream
    alias {{ koel_music_dir }};

    #access_log	/var/log/nginx/koel.access.log;
    #error_log 	/var/log/nginx/koel.error.log;
  }

  location / {
    try_files $uri $uri/ /index.php?$args;
  }

  location ~ \.php$ {
    try_files $uri $uri/ /index.php?$args;

    fastcgi_param 		PATH_INFO $fastcgi_path_info;
    fastcgi_param	 	PATH_TRANSLATED $document_root$fastcgi_path_info;
    fastcgi_param 		SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_param HTTPS on;
    
    fastcgi_pass 		php_koel;
    fastcgi_index 		index.php;
    fastcgi_split_path_info 	^(.+\.php)(/.+)$;
    fastcgi_intercept_errors 	on;
    include 			fastcgi_params;
  }
}
