server {
  listen 80;

  server_name {{ openldap_domain }};

  access_log /var/log/nginx/ldapadmin.access.log;
  error_log /var/log/nginx/ldapadmin.error.log;

  index index.php index.html;

  root {{ openldap_webroot }};

  location ~ \.php$ {
   try_files $uri =404;
   fastcgi_split_path_info ^(.+\.php)(/.+)$;
   include fastcgi_params;
   fastcgi_index index.php;
   fastcgi_param HTTPS on;
   fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;

   fastcgi_pass php_ldapadmin;
 }
}
