{% for domain in letsencrypt_domains %}

server {
  listen 80;

  server_name {{ domain.name }};

  access_log /var/log/nginx/{{ domain.name }}.access.log;
  error_log /var/log/nginx/{{ domain.name }}.error.log;

  location /.well-known/acme-challenge/ {
    alias {{ letsencrypt_challenge_dir }}/;
    try_files $uri =404;
  }

  location / {
    rewrite ^ https://$server_name$request_uri? permanent;
  }
}

{% endfor %}
