server {
  listen 80;

  server_name {{ mediagoblin_domain }};

  access_log /var/log/nginx/mediagoblin.access.log vhosts;
  error_log /var/log/nginx/mediagoblin.error.log;

  client_max_body_size 1G;

  add_header X-Content-Type-Options nosniff;

  location /mgoblin_static/ {
    alias {{ mediagoblin_app_dir }}/mediagoblin/static/;
  }

  # Instance specific media:
  location /mgoblin_media/ {
    alias {{ mediagoblin_app_dir }}/user_dev/media/public/;
  }

  # Theme static files (usually symlinked in)
  location /theme_static/ {
    alias {{ mediagoblin_app_dir }}/user_dev/theme_static/;
  }

  # Plugin static files (usually symlinked in)
  location /plugin_static/ {
    alias {{ mediagoblin_app_dir }}/user_dev/plugin_static/;
  }

  # Mounting MediaGoblin itself via FastCGI.
  location / {
    fastcgi_pass mediagoblin;
    include {{ nginx_config_dir }}/fastcgi_params;

    # mediagoblins understanding vs nginx's handling of script_name vs
    # path_info don't match :)
    fastcgi_param PATH_INFO $fastcgi_script_name;
    fastcgi_param SCRIPT_NAME "";
  }
}
