server {
  listen 80;

  server_name {{ php_host_domain }};

  access_log /var/log/nginx/php_host.access.log;
  error_log /var/log/nginx/php_host.error.log;

  root {{ php_host_root }};

  fastcgi_buffers 64 4K;

  index index.php index.html;

  location = /robots.txt {
    allow all;
    log_not_found off;
    access_log off;
  }

  location ~ ^/(?:\.htaccess|data|config|db_structure\.xml|README){
    deny all;
  }

  location / {
    try_files $uri $uri/ /index.php;
  }

  location ~ \.php(?:$|/) {
    fastcgi_split_path_info ^(.+\.php)(/.+)$;

    include fastcgi_params;
    fastcgi_param PATH_INFO $fastcgi_path_info;
    #fastcgi_param MOD_X_ACCEL_REDIRECT_ENABLED on;
    fastcgi_param HTTPS on;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;

    fastcgi_pass php_host;
  }

  # set long EXPIRES header on static assets
  location ~* \.(?:jpg|jpeg|gif|bmp|ico|png|css|js|swf)$ {
    expires 30d;

    # Don't log access to assets
    access_log on;
  }
}
