server {
  listen 80;

  server_name {{ mailserver_roundcube_domain }};

  access_log /var/log/nginx/roundcube.access.log;
  error_log /var/log/nginx/roundcube.error.log;

  root {{ mailserver_roundcube_root_dir }};
  index index.php index.html;

  client_max_body_size 1G;

  location ~ ^/(data|config|\.ht|db_structure\.xml|README|AUTHORS|COPYING-AGPL|COPYING-README) {
    deny all;
  }

  location / {
    try_files $uri $uri/ index.php;
  }

  location ~ ^(?<script_name>.+?\.php)(?<path_info>/.*)?$ {
    try_files $script_name = 404;

    include fastcgi_params;
    fastcgi_param PATH_INFO $path_info;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_param HTTPS on;
    fastcgi_read_timeout 300;
    fastcgi_pass php_roundcube;
  }

  location ~* ^.+.(jpg|jpeg|gif|bmp|ico|png|css|js|swf)$ {
    expires 30d;
    access_log off;
  }
}
