server {
  listen 80;

  server_name {{ static_host_domain }};

  access_log /var/log/nginx/static.access.log;
  error_log /var/log/nginx/static.error.log;

  index {{ static_host_index }};

  root {{ static_host_root }};

  {% if static_host_enable_auth %}
  auth_basic "Restricted";
  auth_basic_user_file {{ nginx_config_dir }}/.htpasswd;
  {% endif %}

  location ~ /\.ht {
    deny  all;
  }
}
