#!/bin/sh
#
#
# PROVIDE: bot_{{ item.id }}
# REQUIRE: DAEMON
# KEYWORD: shutdown
#
# Add the following lines to /etc/rc.conf.local or /etc/rc.conf
# to enable this service:
#
# bot_{{ item.id }}_enable (bool):		Set to NO by default.
#				Set it to YES to enable.
# bot_{{ item.id }}_flags (str):		Set to "" by default.
#				Extra flags passed to start command.
#

. /etc/rc.subr

name=bot_{{ item.id }}
rcvar=`set_rcvar`
load_rc_config $name

start_precmd="${name}_prestart"
pidfile="{{ murmur_bot_home_dir }}/{{ item.id }}.pid"

# Set some defaults
: ${bot_{{ item.id }}_enable:=NO}
: ${bot_{{ item.id }}_chdir="{{ murmur_bot_cert_dir }}"}

bot_command="/usr/local/bin/ruby"
bot_flags="{{ murmur_bot_script_dir }}/{{ item.script }} {{ item.args }} {{ murmur_bot_home_dir }}/{{ item.id }}/mpd.fifo localhost {{ item.port }}"

command="/usr/sbin/daemon"
flags="-f -u {{ murmur_bot_username }} -p ${pidfile} ${bot_command} ${bot_flags}"
procname=${bot_command}

bot_{{ item.id }}_prestart()
{
  /usr/local/bin/mpc -p {{ item.port }} clear
  {% for cmd in item.mpc_cmds %}
  /usr/local/bin/mpc -p {{ item.port }} {{ cmd }}
  {% endfor %}
  {% if item.add_music is defined and item.add_music %}
  /bin/sh -c "/usr/local/bin/mpc -p {{ item.port }} listall | /usr/local/bin/mpc -p {{ item.port }} add"
  {% endif %}
  /usr/local/bin/mpc -p {{ item.port }} play
}

run_rc_command "$1"
