music_directory "{{ murmur_bot_music_dir }}"
playlist_directory  "{{ murmur_bot_home_dir }}/{{ item.id }}/playlists"
db_file "{{ murmur_bot_home_dir }}/{{ item.id }}/tag_cache"
log_file  "{{ murmur_bot_home_dir }}/{{ item.id }}/{{ item.id }}.log"
pid_file  "{{ murmur_bot_home_dir }}/{{ item.id }}/pid"
state_file  "{{ murmur_bot_home_dir }}/{{ item.id }}/state"
sticker_file  "{{ murmur_bot_home_dir }}/{{ item.id }}/sticker.sql"
user  "{{ murmur_bot_username }}"
bind_to_address "127.0.0.1"
port  "{{ item.port }}"

input {
  plugin  "curl"
}

audio_output {
  type  "fifo"
  name  "FIFO-{{ item.id }}"
  path  "{{ murmur_bot_home_dir }}/{{ item.id }}/mpd.fifo"
  format  "48000:16:1"
  mixer_type  "software"
}

filesystem_charset  "UTF-8"
id3v1_encoding  "UTF-8"
