#!/bin/sh
#
#
# PROVIDE: mpd_{{ item.id }}
# REQUIRE: DAEMON
# KEYWORD: shutdown
#
# Add the following lines to /etc/rc.conf.local or /etc/rc.conf
# to enable this service:
#
# mpd_{{ item.id }}_enable (bool):		Set to NO by default.
#				Set it to YES to enable.
# mpd_{{ item.id }}_flags (str):		Set to "" by default.
#				Extra flags passed to start command.
#

. /etc/rc.subr

name=mpd_{{ item.id }}
rcvar=`set_rcvar`
load_rc_config $name

# Set some defaults
: ${mpd_{{ item.id }}_enable:=NO}

command="/usr/local/bin/musicpd"
command_args="{{ murmur_bot_home_dir }}/{{ item.id }}/mpd.conf"
pidfile={{ murmur_bot_home_dir }}/{{ item.id }}/pid

run_rc_command "$1"
