{% for domain in prosody_domains %}

server {
  listen 80;

  server_name bosh.{{ domain.domain }};

  access_log /var/log/nginx/bosh.{{ domain.domain }}.access.log;
  error_log /var/log/nginx/bosh.{{ domain.domain }}.error.log;

  more_set_headers 'Access-Control-Allow-Origin: *';
  more_set_headers 'Access-Control-Allow-Headers: GET, POST, PATCH, PUT, DELETE, OPTIONS';
  more_set_headers 'Access-Control-Allow-Headers: Cache-Control, Pragma, Origin, Authorization, Content-Type, X-Requested-With, Accept';
  more_set_headers 'Access-Control-Allow-Credentials: true';

  location /http-bind {
    proxy_pass http://prosody-bosh/http-bind;
    proxy_set_header Host $host;
    proxy_buffering off;
    tcp_nodelay on;
  }

  location / {
    return 444;
  }
}

{% endfor %}
