VirtualHost "{{ item.domain }}"
  ssl = {
    key = "{{ server_cert_dir }}{{ item.sslname }}.key";
    certificate = "{{ server_cert_dir }}{{ item.sslname }}.crt";
    cafile = "/usr/local/share/certs/ca-root-nss.crt";
  }

  admins = { "{{ item.admin }}" }
  http_host = "{{ item.bosh_domain }}"
