#!/bin/sh
#
# $FreeBSD$
#
# PROVIDE: gitblit
# REQUIRE: NETWORKING SYSLOG
# KEYWORD: shutdown
#
# Add the following lines to /etc/rc.conf to enable gitblit:
#
# gitblit_enable="YES"

. /etc/rc.subr

name="gitblit"
rcvar="gitblit_enable"

load_rc_config $name

: ${gitblit_enable:="NO"}
: ${gitblit_chdir:="{{ gitblit_home_dir }}"}

pidfile="{{ gitblit_home_dir }}/gitblit.pid"

java_command="/usr/local/bin/java"
java_flags="-Xms{{ gitblit_min_heap }} -Xmx{{ gitblit_max_heap }} -jar {{ gitblit_home_dir }}/gitblit.jar --baseFolder data"

command="/usr/sbin/daemon"
flags="-f -u {{ gitblit_user }} -p ${pidfile} ${java_command} ${java_flags}"
procname="/usr/local/openjdk8/bin/java"

run_rc_command "$1"
