# This is the main configuration file for Bukkit.
# As you can see, there's actually not that much to configure without any plugins.
# For a reference for any variable inside this file, check out the Bukkit Wiki at
# http://wiki.bukkit.org/Bukkit.yml
#
# If you need help on this file, feel free to join us on irc or leave a message
# on the forums asking for advice.
#
# IRC: #spigot @ irc.spi.gt
#    (If this means nothing to you, just go to http://irc.spi.gt/iris/?nick=&channels=spigot )
# Forums: http://www.spigotmc.org/forums/help.40/
# Bug tracker: http://www.spigotmc.org/forums/bugs-feature-requests.8/


settings:
  allow-end: {{ minecraft_bukkit_allow_end }}
  warn-on-overload: {{ minecraft_bukkit_warn_on_overload }}
  permissions-file: {{ minecraft_bukkit_permissions_file }}
  update-folder: {{ minecraft_bukkit_update_folder }}
  ping-packet-limit: {{ minecraft_bukkit_ping_packet_limit }}
  use-exact-login-location: {{ minecraft_bukkit_use_exact_login_location }}
  plugin-profiling: {{ minecraft_bukkit_plugin_profiling }}
  connection-throttle: {{ minecraft_bukkit_connection_throttle }}
  query-plugins: {{ minecraft_bukkit_query_plugins }}
  deprecated-verbose: {{ minecraft_bukkit_deprecated_verbose }}
  shutdown-message: {{ minecraft_bukkit_shutdown_message }}
spawn-limits:
  monsters: {{ minecraft_bukkit_spawn_limits.monsters }}
  animals: {{ minecraft_bukkit_spawn_limits.animals }}
  water-animals: {{ minecraft_bukkit_spawn_limits.water_animals }}
  ambient: {{ minecraft_bukkit_spawn_limits.ambient }}
chunk-gc:
  period-in-ticks: {{ minecraft_bukkit_period_in_ticks }}
  load-threshold: {{ minecraft_bukkit_load_threshold }}
ticks-per:
  animal-spawns: {{ minecraft_bukkit_ticks_per.animal_spawns }}
  monster-spawns: {{ minecraft_bukkit_ticks_per.monster_spawns }}
  autosave: {{ minecraft_bukkit_ticks_per.autosave }}
aliases: {{ minecraft_bukkit_aliases }}
database:
  username: bukkit
  isolation: SERIALIZABLE
  driver: org.sqlite.JDBC
  password: walrus
  url: jdbc:sqlite:{DIR}{NAME}.db
