#!/bin/sh
#
# $FreeBSD$
#
# PROVIDE: minecraft
# REQUIRE: NETWORKING SYSLOG
# KEYWORD: shutdown
#
# Add the following lines to /etc/rc.conf to enable minecraft:
#
# minecraft_enable="YES"

. /etc/rc.subr

name="minecraft"
rcvar="minecraft_enable"

load_rc_config $name

: ${minecraft_enable:="NO"}
: ${minecraft_chdir:="{{ minecraft_home_dir }}"}

pidfile="{{ minecraft_home_dir }}/minecraft.pid"

java_command="/usr/local/bin/java"
java_flags="-Xms{{ minecraft_min_ram }} -Xmx{{ minecraft_max_ram }} -jar {{ minecraft_home_dir }}/spigot.jar"

command="/usr/sbin/daemon"
flags="-f -u {{ minecraft_username }} -p ${pidfile} ${java_command} ${java_flags}"
procname="/usr/local/openjdk8/bin/java"

run_rc_command "$1"
