#Minecraft server properties
#Sat Jan 10 05:45:05 CET 2015
generator-settings=
op-permission-level={{ minecraft_op_permission_level }}
allow-nether={{ minecraft_allow_nether }}
level-name={{ minecraft_level_name }}
enable-query={{ minecraft_allow_query }}
query.port={{ minecraft_query_port }}
allow-flight={{ minecraft_allow_flight }}
announce-player-achievements={{ minecraft_announce_player_achievements }}
server-port={{ minecraft_port }}
level-type={{ minecraft_level_type }}
enable-rcon={{ minecraft_enable_rcon }}
force-gamemode={{ minecraft_force_gamemode }}
level-seed=
server-ip=
max-build-height=256
spawn-npcs={{ minecraft_spawn_npcs }}
white-list={{ minecraft_whitelist }}
spawn-animals={{ minecraft_spawn_animals }}
hardcore={{ minecraft_hardcore }}
snooper-enabled=false
online-mode={{ minecraft_online_mode }}
resource-pack=
pvp={{ minecraft_pvp }}
difficulty={{ minecraft_difficulty }}
server-name={{ minecraft_server_name }}
enable-command-block=false
gamemode={{ minecraft_gamemode }}
player-idle-timeout={{ minecraft_player_idle_timeout }}
max-players={{ minecraft_max_players }}
spawn-monsters={{ minecraft_spawn_monsters }}
generate-structures={{ minecraft_generate_structures }}
view-distance={{ minecraft_view_distance }}
spawn-protection={{ minecraft_spawn_protection }}
motd={{ minecraft_motd }}
