# This is the main configuration file for Spigot.
# As you can see, there's tons to configure. Some options may impact gameplay, so use
# with caution, and make sure you know what each option does before configuring.
# For a reference for any variable inside this file, check out the Spigot wiki at
# http://www.spigotmc.org/wiki/spigot-configuration/
#
# If you need help with the configuration or have any questions related to Spigot,
# join us at the IRC or drop by our forums and leave a post.
#
# IRC: #spigot @ irc.spi.gt ( http://www.spigotmc.org/pages/irc/ )
# Forums: http://www.spigotmc.org/

config-version: 8
commands:
  tab-complete: {{ minecraft_spigot_tab_complete }}
  log: {{ minecraft_spigot_log }}
  spam-exclusions:
  {% for exclusion in minecraft_spigot_spam_exclusions %}
  - {{ exclusion }}
  {% endfor %}

  silent-commandblock-console: {{ minecraft_spigot_silent_commandblock_console }}
  replace-commands:
  {% for replacement in minecraft_spigot_replace_commands %}
  - {{ replacement }}
  {% endfor %}

settings:
  debug: {{ minecraft_spigot_debug }}
  save-user-cache-on-stop-only: {{ minecraft_spigot_save_user_cache_on_stop_only }}
  timeout-time: {{ minecraft_spigot_timeout_time }}
  restart-on-crash: {{ minecraft_spigot_restart_on_crash }}
  restart-script: {{ minecraft_spigot_restart_script }}
  bungeecord: {{ minecraft_spigot_bungeecord }}
  late-bind: {{ minecraft_spigot_late_bind }}
  sample-count: {{ minecraft_spigot_sample_count }}
  player-shuffle: {{ minecraft_spigot_player_shuffle }}
  filter-creative-items: {{ minecraft_spigot_filter_creative_items }}
  user-cache-size: {{ minecraft_spigot_user_cache_size }}
  int-cache-limit: {{ minecraft_spigot_int_cache_limit }}
  moved-wrongly-threshold: {{ minecraft_spigot_moved_wrongly_threshold }}
  moved-too-quickly-threshold: {{ minecraft_spigot_moved_too_quickly_threshold }}
  netty-threads: {{ minecraft_spigot_netty_threads }}
  attribute:
    maxHealth:
      max: 2048.0
    movementSpeed:
      max: 2048.0
    attackDamage:
      max: 2048.0
messages:
  whitelist: You are not whitelisted on this server!
  unknown-command: Unknown command. Type "/help" for help.
  server-full: The server is full!
  outdated-client: Outdated client! Please use {0}
  outdated-server: Outdated server! I'm still on {0}
  restart: Server is restarting
stats:
  disable-saving: false
  forced-stats: {}
world-settings:
  default:
    verbose: true
    item-despawn-rate: 6000
    merge-radius:
      item: 2.5
      exp: 3.0
    enable-zombie-pigmen-portal-spawns: true
    arrow-despawn-rate: 1200
    wither-spawn-sound-radius: 0
    view-distance: 8
    hanging-tick-frequency: 100
    zombie-aggressive-towards-villager: true
    chunks-per-tick: 650
    clear-tick-list: false
    anti-xray:
      enabled: true
      engine-mode: 1
      hide-blocks:
      - 14
      - 15
      - 16
      - 21
      - 48
      - 49
      - 54
      - 56
      - 73
      - 74
      - 82
      - 129
      - 130
      replace-blocks:
      - 1
      - 5
    ticks-per:
      hopper-transfer: 8
      hopper-check: 8
    hopper-amount: 1
    mob-spawn-range: 4
    nerf-spawner-mobs: false
    growth:
      cactus-modifier: 100
      cane-modifier: 100
      melon-modifier: 100
      mushroom-modifier: 100
      pumpkin-modifier: 100
      sapling-modifier: 100
      wheat-modifier: 100
    entity-activation-range:
      animals: 32
      monsters: 32
      misc: 16
    entity-tracking-range:
      players: 48
      animals: 48
      monsters: 48
      misc: 32
      other: 64
    random-light-updates: false
    save-structure-info: true
    max-bulk-chunks: 10
    max-entity-collisions: 8
    dragon-death-sound-radius: 0
    seed-village: 10387312
    seed-feature: 14357617
    hunger:
      walk-exhaustion: 0.2
      sprint-exhaustion: 0.8
      combat-exhaustion: 0.3
      regen-exhaustion: 3.0
    max-tnt-per-tick: 100
    max-tick-time:
      tile: 50
      entity: 50
    hopper-alt-ticking: false
