#!/bin/sh
#
# $FreeBSD$
#
# PROVIDE: buildslave
# REQUIRE: NETWORKING SYSLOG
# KEYWORD: shutdown
#
# Add the following lines to /etc/rc.conf to enable buildslave:
#
# buildslave_enable="YES"

. /etc/rc.subr

name="buildslave"
rcvar=`set_rcvar`

load_rc_config $name

: ${buildslave_enable:="NO"}
: ${buildslave_chdir:="{{ buildbot_slave_slave_dir }}"}
: ${buildslave_user:="{{ buildbot_slave_user }}"}
: ${buildslave_group:="{{ buildbot_slave_group }}"}

pidfile="${buildslave_chdir}/twistd.pid"

command="/usr/local/bin/buildslave"
flags="start"
procname="/usr/local/bin/python2.7"

run_rc_command "$1"
