// # Ghost Configuration
// Setup your Ghost install for various environments
// Documentation can be found at http://docs.ghost.org/usage/configuration/

var path = require('path'),
    config;

config = {
    // ### Production
    // When running Ghost in the wild, use the production environment
    // Configure your URL and mail settings here
    production: {
        url: '{{ ghost_protocol }}://{{ ghost_domain }}',
        mail: {
            transport: 'SMTP',
            options: {
              host: '{{ ghost_smtp_host }}',
              port: {{ ghost_smtp_port }},
              auth: {
                user: '{{ ghost_smtp_user }}',
                pass: '{{ ghost_smtp_password }}'
              }
            }
        },
        database: {
            client: 'sqlite3',
            connection: {
                filename: path.join(__dirname, '/content/data/ghost.db')
            },
            debug: 'false'
        },
        server: {
            // Host to be passed to node's `net.Server#listen()`
            host: '{{ ghost_host }}',
            // Port to be passed to node's `net.Server#listen()`, for iisnode set this to `process.env.PORT`
            port: '{{ ghost_port }}'
        },
        privacy: {
          useUpdateCheck: false,
          useGoogleFonts: false,
          useGravatar: false,
          useRpcPing: false
      }
    }
};

// Export config
module.exports = config;
