#!/bin/sh
#
# $FreeBSD$
#
# PROVIDE: ghost
# REQUIRE: NETWORKING SYSLOG
# KEYWORD: shutdown
#
# Add the following lines to /etc/rc.conf to enable ghost:
#
# ghost_enable="YES"

. /etc/rc.subr

name="ghost"
rcvar=`set_rcvar`

load_rc_config $name

: ${ghost_enable:="NO"}
: ${ghost_chdir:="{{ ghost_app_dir }}"}

command="/usr/sbin/daemon"
node_command="/usr/local/bin/node"
node_flags="{{ ghost_app_dir }}/index.js"

pidfile="${ghost_chdir}/${name}.pid"

flags="-u {{ ghost_username }} -p ${pidfile} ${node_command} ${node_flags} >> {{ ghost_app_dir }}/ghost.log"
procname=${node_command}
ghost_env="NODE_ENV=production"

run_rc_command "$1"
