<?php
$AUTOCONFIG = array(
  "dbtype"        => "pgsql",
  "dbname"        => "{{ owncloud_dbname }}",
  "dbuser"        => "{{ owncloud_dbuser }}",
  "dbpass"        => "{{ owncloud_dbpassword }}",
  "dbhost"        => "{{ owncloud_db_host }}",
  "dbtableprefix" => "oc_",
  "adminlogin"    => "{{ owncloud_admin_name }}",
  "adminpass"     => "{{ owncloud_admin_password }}",
  "directory"     => "{{ owncloud_data_dir }}",
);
