<?php

$CONFIG = array (
  "user_backends" => array (
    {% if owncloud_use_imap_auth %}
    0 => array (
      'class'     => 'OC_User_IMAP',
      'arguments' => array (
        0 => '{% raw %}{{% endraw %}{{ owncloud_auth_imap_connection }}{% raw %}}{% endraw %}'
      ),
    ),
    {% endif %}
  ),
  'mail_smtpmode' => 'smtp',
  'mail_smtpsecure' => '{{ owncloud_smtp_security }}',
  'mail_from_address' => '{{ owncloud_smtp_from_name }}',
  'mail_domain' => '{{ owncloud_smtp_from_domain }}',
  'mail_smtpauthtype' => '{{ owncloud_smtp_auth_type }}',
  'mail_smtpauth' => true,
  'mail_smtphost' => '{{ owncloud_smtp_host }}',
  'mail_smtpport' => '{{ owncloud_smtp_port }}',
  'mail_smtpname' => '{{ owncloud_smtp_user }}',
  'mail_smtppassword' => '{{ owncloud_smtp_password }}',
  'appstoreenabled' => {{ owncloud_appstore_enabled }},
  'maintenance' => false,
  'overwritehost' => '{{ owncloud_domain }}',
  'overwriteprotocol' => '{{ owncloud_protocol }}',
  'memcache.local' => '\OC\Memcache\APCu',
);
