#!/bin/sh
#
# PROVIDE: mediagoblin
# REQUIRE:
# BEFORE: LOGIN
# KEYWORD: shutdown
#

. /etc/rc.subr

name=mediagoblin
rcvar=`set_rcvar`

load_rc_config $name

pidfile="{{ mediagoblin_pid_dir }}/mediagoblin.pid"
logfile="{{ mediagoblin_log_dir }}/mediagoblin.log"

: ${mediagoblin_chdir="{{ mediagoblin_app_dir }}"}
: ${mediagoblin_workdir="{{ mediagoblin_app_dir }}"}

command="/usr/sbin/daemon"
mediagoblin_command="{{ mediagoblin_app_dir}}/bin/paster"
mediagoblin_flags="serve {{ mediagoblin_app_dir}}/paste.ini --server-name=fcgi fcgi_host=127.0.0.1 fcgi_port={{ mediagoblin_port }} --log-file=${logfile}"

flags="-f -u {{ mediagoblin_username }} -p ${pidfile} ${mediagoblin_command} ${mediagoblin_flags}"
procname="/usr/local/mediagoblin/mediagoblin/bin/python"
mediagoblin_env="PYTHON_EGG_CACHE={{ mediagoblin_home_dir }}"

run_rc_command "$1"
