#!/bin/sh
#
# PROVIDE: mediagoblin_celery
# REQUIRE:
# BEFORE: LOGIN
# KEYWORD: shutdown
#

. /etc/rc.subr

name=mediagoblin_celery
rcvar=`set_rcvar`

load_rc_config $name

pidfile="{{ mediagoblin_pid_dir }}/mediagoblin-celery.pid"
logfile="{{ mediagoblin_log_dir }}/mediagoblin-celery.log"

: ${mediagoblin_celery_chdir="{{ mediagoblin_app_dir }}"}
: ${mediagoblin_celery_workdir="{{ mediagoblin_app_dir }}"}

command="/usr/sbin/daemon"
mediagoblin_celery_command="{{ mediagoblin_app_dir}}/bin/celery"
mediagoblin_celery_flags="worker --logfile=${logfile} --config=mediagoblin.init.celery.from_celery"

flags="-f -u {{ mediagoblin_username }} -p ${pidfile} ${mediagoblin_celery_command} ${mediagoblin_celery_flags}"
procname="/usr/local/mediagoblin/mediagoblin/bin/python"
mediagoblin_celery_env="PYTHON_EGG_CACHE={{ mediagoblin_home_dir }}"

run_rc_command "$1"
