# If you want to make changes to this file, first copy it to
# mediagoblin_local.ini, then make the changes there.
#
# If you don't see what you need here, have a look at mediagoblin/config_spec.ini
# It defines types and defaults so it’s a good place to look for documentation
# or to find hidden options that we didn’t tell you about. :)

[mediagoblin]
direct_remote_path = /mgoblin_static/
email_sender_address = "{{ mediagoblin_email_sender }}"
email_smtp_force_starttls = True
email_smtp_host = "{{ mediagoblin_email_host }}"
email_smtp_port = {{ mediagoblin_email_port }}
email_smtp_user = "{{ mediagoblin_email_user }}"
email_smtp_pass = "{{ mediagoblin_email_password }}"

html_title = "{{ mediagoblin_title }}"

## Uncomment and change to your DB's appropiate setting.
## Default is a local sqlite db "mediagoblin.db".
## Don't forget to run `./bin/gmg dbupdate` after having changed it.
sql_engine = postgresql://{{ mediagoblin_dbuser }}:{{ mediagoblin_dbpassword }}@localhost/{{ mediagoblin_dbname }}

# Set to false to enable sending notices
email_debug_mode = false

# Set to false to disable registrations
allow_registration = {% if mediagoblin_ldap_auth %}true{% else %}{{ mediagoblin_allow_registration }}{% endif %}

# Set to false to disable the ability for users to report offensive content
allow_reporting = true

## Uncomment this to put some user-overriding templates here
# local_templates = %(here)s/user_dev/templates/

## You can set your theme by specifying this (not specifying it will
## use the default theme).  Run `gmg assetlink` to apply the change.
## The airy and sandyseventiesspeedboat theme comes with GMG; please
## see the theming docs on how to install other themes.
theme = {{ mediagoblin_theme }}

## If you want the terms of service displayed, you can uncomment this
# show_tos = true

exif_visible = {{ mediagoblin_exif_visible }}

user_privilege_scheme = "uploader,commenter,reporter"
[storage:queuestore]
base_dir = %(here)s/user_dev/media/queue

[storage:publicstore]
base_dir = %(here)s/user_dev/media/public
base_url = /mgoblin_media/

[celery]
CELERY_ALWAYS_EAGER=False

# Place plugins here, each in their own subsection of [plugins].
# See http://docs.mediagoblin.org/siteadmin/plugins.html for details.
[plugins]
[[mediagoblin.plugins.geolocation]]
[[mediagoblin.media_types.image]]
[[mediagoblin.media_types.pdf]]
[[mediagoblin.media_types.audio]]
[[mediagoblin.media_types.video]]
[[mediagoblin.media_types.stl]]
{% if mediagoblin_ldap_auth %}
[[mediagoblin.plugins.ldap]]
[[[server1]]]
LDAP_SERVER_URI = '{{ ldapclient_uri }}'
LDAP_USER_DN_TEMPLATE = 'cn={username},ou=People,{{ ldapclient_base_dn }}'
LDAP_START_TLS = 'true'
LDAP_SEARCH_BASE = 'ou=People,{{ ldapclient_base_dn }}'
EMAIL_SEARCH_FIELD = '{{ mediagoblin_ldap_email_field }}'
LDAP_USER_ATTRIBUTE = '{{ mediagoblin_ldap_user_field }}'
LDAP_UID_SEARCH_FIELD = '{{ mediagoblin_ldap_uid_field }}'
LDAP_USER_FILTER = '(&(objectclass=inetOrgPerson)(cn={username})(memberOf=cn=mediagoblin,ou=Groups,{{ ldapclient_base_dn }}))'
{% else %}
[[mediagoblin.plugins.basic_auth]]
{% endif %}
