/**
 * ownCloud - Calendar App
 *
 * @author Raghu Nayyar
 * @author Georg Ehrke
 * @copyright 2016 Raghu Nayyar <beingminimal@gmail.com>
 * @copyright 2016 Georg Ehrke <oc.list@georgehrke.com>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

.advanced select {
	height: 32px;
}

/* TODO : Remove this Hack */
.margin-class {
	margin-top: 4px;
}


.ui-timepicker .ui-timepicker-hour-cell a,
.ui-timepicker .ui-timepicker-minute-cell a {
	text-overflow: inherit !important;
}

.events--fieldset span,
.advanced--fieldset span{
	display: block;
}

.modal-open .modal.popover,
.modal-open .modal.import {
	position: absolute;
	min-height: 290px;
	width: 450px;
	background: #fff;
	box-shadow: 0 0 3px #999;
	overflow: hidden;
	margin-left: 0 !important;
}

.modal-open .modal.import {
	top: 75px;
	left: calc(50% - 225px);
	padding: 20px;
	min-height: 25px;
	max-height: calc(100% - 150px - 45px);
	overflow-y: scroll;
}

.events .events--fieldset {
	padding: 3px 0;
}

.events .events--fieldset textarea {
	height: 4.5em;
	width: 100%;
	resize: vertical;
}

.events .events--fieldset span {
	display: block;
}


.events .events--date {
	width: 70px;
}

.advanced .events--date {
	width: 80px;
}

.events .events--input__full {
	width:345px;
}

.events .h2.events--input {
	width: 190px;
}

.events .events--time {
	width:60px;
}

.advanced .events--time {
	width: 75px;
}

.events .events--checkbox {
	padding: 3px 0;
}

.modal-open .modal.popover .modal-content {
	padding: 20px;
}

.fc-row.fc-rigid {
	overflow: visible !important;
}

.advanced--container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 20px;
	overflow: scroll;
	margin-bottom: 120px;
}

.advanced--fieldset {
	margin-bottom: 10px;
}

.advanced .advanced--input,
.advanced .h2.advanced--input {
	width: 100%;
	box-sizing: border-box;
}

.advanced .advanced--fieldset select {
	width: 100%;
}

.advanced .advanced--fieldset textarea {
	height: 4.5em;
	resize: vertical;
}

.advanced .tabHeaders {
	margin: 20px 0 15px 0;
	float: left;
	width: 100%;
}

/* Primary action button, use sparingly */
.delete, input[type="submit"].delete, input[type="button"].delete, button.delete, .button.delete {
	border: 1px solid #C60000;
	background-color: #D60000;
	color: #fff;
}
button.delete:hover, button.delete:focus {
	border: 1px solid #D60000;
	background-color: #ff0000;
	color: #fff;
}
.advanced .advanced--list {
	padding: 10px 0;
	width: 100%;
}

.advanced .advanced--button__icon {
	padding: 10px;
}

.advanced .advanced--button-area {
	border-top: 1px solid #eee;
	padding: 5px 20px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.advanced .pull-half {
	width: 48% !important;
}

.advanced .pull-quarter {
	width: 22% !important;
}


.advanced .btn-half {
	width: 45%;
}

#importdialog .btn-full,
.advanced .btn-full,
.advanced .pull-full {
	width: 100%;
}

.advanced--fieldset-attendeelist li {
	display: block;
	cursor: pointer;
	width: 100%;
}

.advanced--fieldset-attendeelist .advanced--toggler,
.advanced--fieldset-reminderlist .advanced--toggler {
	padding: 5px 2px;
	display: block;
	width: 100%;
	float: left;
}

.advanced--fieldset-attendeelist .advanced--toggler:hover,
.advanced--fieldset-reminderlist .advanced--toggler:hover {
	background: #efefef;
	cursor: pointer;
}

.advanced--fieldset .hint {
	font-size: .75em;
	color: #888;
}

.advanced--fieldset .inline {
	display: inline;
}

.dropdown-menu {
	width: 100%;
}

.dropdown-menu li {
	border-bottom:1px solid #ddd;
	background: #f8f8f8;
}

.dropdown-menu li a {
	display: block;
	padding:5px;
}

.dropdown-menu li a:hover {
	background: #eee;
}
