/**
 * ownCloud - Calendar App
 *
 * @author Raghu Nayyar
 * @author Georg Ehrke
 * @copyright 2016 Raghu Nayyar <beingminimal@gmail.com>
 * @copyright 2016 Georg Ehrke <oc.list@georgehrke.com>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

#app-settings .settings-fieldset .settings-fieldset-interior input {
	width: 90%;
}
#app-settings .settings-fieldset .settings-fieldset-interior select {
	width: 40%;
}
#app-settings .settings-fieldset .settings-upload {
	position: absolute;
	top: 12.5px;
	width: 100%;
	display: block;
	height: 25.88235px;
	font-weight: 300;
	font-size: 14px;
	cursor: pointer;
	z-index: 10;
	padding: 7.33333px 0 0 0 !important;
	text-align: center;
	border: 1px solid rgba(190, 190, 190, 0.9);
	background-position: 5%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}
#app-settings .settings-fieldset .settings-fieldset-interior-item:hover {
	background: transparent;
}
#app-settings .settings-fieldset .settings-fieldset-interior-upload {
	width: 95%;
	height: 55px;
}
#app-settings .settings-fieldset .settings-fieldset-interior-upload input {
	position: absolute;
	top: 18px;
}
#app-settings .settings-fieldset .settings-fieldset-interior  input[type="file"] {
	top: 12.5px;
	position: absolute;
	width: 100%;
	height: 33.21569px;
	padding: 0;
	font-size: 16px;
	margin-left: 0px;
	overflow: hidden;
	z-index: 20;
	opacity: 0;
}

.dialog .table {
	width: 100%;
	-webkit-transition: 0.05s ease-out 0.05s;
	-moz-transition: 0.05s ease-out 0.05s;
	-ms-transition: 0.05s ease-out 0.05s;
	transition: 0.05s ease-out 0.05s;
}

.dialog .table:hover {
	background: #ddd;
	-webkit-transition: 0.05s ease-out 0.05s;
	-moz-transition: 0.05s ease-out 0.05s;
	-ms-transition: 0.05s ease-out 0.05s;
	transition: 0.05s ease-out 0.05s;
}

#importdialog .buttongroup button {
	padding: 10px;
}

#importdialog .loading {
	background-position: 2px;
}

#importdialog .loading.disabled {
	background-color: #6c8fc0;
}

#importdialog table,
#importdialog tbody tr,
#importdialog tbody tr:hover,
#importdialog tbody tr:focus {
	background: transparent !important;
}

.progress-bar {
	margin: 0;
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	background-color: #1d2d44;
}

#importdialog table {
	width: 100%;
}

#importdialog td.name {
	width: 40%;
}

#importdialog td.calendartype {
	width: 50%;
}

#importdialog td.calendartype select {
	width: 90%;
}

#importdialog td.buttongroup {
	width: 10%;
}

#importdialog tr {
	height: 38px;
}

.import-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: .6;
}

#importdialog .spacer {
	clear: both;
	height: 25px;
}
