// ET: Legacy server sample config file. Make this file your own.
// see http://www.dev.etlegacy.com/projects/etlegacy/wiki/List_of_Cvars#sv_-Additional-or-changed
// ET LEGACY ENGINE ONLY

// LOGGING & PROTECTION

set logfile "{{ etlegacy_logfile_mode }}"                                         // Enables console logging - 'etconsole.log' (1: enabled 2: enabled and sync'ed)
set sv_protect "{{ etlegacy_sv_protect_enabled }}"                                // Getstatus response limit protection.
set sv_protectLog "{{ etlegacy_sv_protect_file }}"                                // When set all sv_protect and server security related messages are written into this log file

// NETWORK

set dedicated "{{ etlegacy_dedicated_mode }}"                                     // 1: dedicated server for lan 2: dedicated server for internet
set sv_advert "{{ etlegacy_send_heartbeats }}"                                    // Send hartbeats to master server - important to set!
set net_ip "{{ etlegacy_ip }}"                                                    // set to override the default IP ET uses
set net_port "{{ etlegacy_port }}"                                                // set to override the default port ET uses
sv_timeout "{{ etlegacy_client_timeout }}"                                        // Seconds without any message from connected clients
sv_dl_timeout "{{ etlegacy_download_timeout }}"                                   // Seconds without any message from downloading or preparing clients

// PASSWORDS & CLIENTS

set sv_maxclients "{{ etlegacy_maxclients }}"                                     // number of players including private slots
set g_password "{{ etlegacy_password }}"                                          // set to password protect the server
set sv_privateclients "{{ etlegacy_privateclients }}"                             // if set > 0, then this number of client slots will be reserved for connections
set sv_privatepassword "{{ etlegacy_privatepassword }}"                           // that have "password" set to the value of "sv_privatePassword"
set rconpassword "{{ etlegacy_remote_console_password }}"                         // remote console access password
set refereePassword "{{ etlegacy_referee_status_password }}"                      // referee status password

// DL, RATE

set sv_maxRate "{{ etlegacy_max_rate }}"                                          // 10000 standard but poor for ET  0: unlimited
set sv_dl_maxRate "{{ etlegacy_max_dl_rate }}"                                    // increase/decrease if you have plenty/little spare bandwidth
set sv_allowDownload "{{ etlegacy_allow_download }}"                              // global toggle for both legacy download and web download
set sv_wwwDownload "{{ etlegacy_allow_web_download }}"                            // toggle to enable web download
set sv_wwwBaseURL "{{ etlegacy_web_base_url }}"                                   // base URL for redirection
set sv_wwwDlDisconnected "{{ etlegacy_web_download_disconnected }}"               // tell clients to perform their downloads while disconnected from the server
set sv_wwwFallbackURL "{{ etlegacy_web_fallback_url }}"                           // URL to send to if an http/ftp fails or is refused client side

// MOTD ETC

set sv_hostname "{{ etlegacy_hostname }}"                                         // name of server here
// max length is "12345678901234567890123456"                                     // (message should not be longer than this without the color codes)
set server_motd0 "{{ etlegacy_motd_0 }}"                                          // message in right corner of join screen here
set server_motd1 "{{ etlegacy_motd_1 }}"
set server_motd2 "{{ etlegacy_motd_2 }}"
set server_motd3 "{{ etlegacy_motd_3 }}"
set server_motd4 "{{ etlegacy_motd_4 }}"
set server_motd5 "{{ etlegacy_motd_5 }}"

// MISC SETTINGS

set g_heavyWeaponRestriction "{{ etlegacy_heavy_weapon_restriction }}"            // Heavy Weapon Restriction (% of team that have Heavy Weapons)
set g_antilag "{{ etlegacy_antilag_enabled }}"                                    // Enable Anti-Lag
set g_altStopwatchMode "{{ etlegacy_abab_stopwatch_enabled }}"                    // Enable ABAB stopwatch team format
set g_autofireteams "{{ etlegacy_auto_fireteams }}"                               // Automaticaly put team players into FireTeams
set g_complaintlimit "{{ etlegacy_complaint_limit }}"                             // Number of complaints needed to kick a player.
set g_ipcomplaintlimit "{{ etlegacy_ip_complaint_limit }}"                        // Number of different player complaints to kick a player
set g_fastres "{{ etlegacy_instant_revive_enabled }}"                             // Toggles if player is instantly active after medic revive
set g_friendlyFire "{{ etlegacy_friendly_fire_enabled }}"                         // Toggles if Firendly Fire is on or not
set g_minGameClients "{{ etlegacy_min_clients }}"                                 // Minimum number of players needed to start a match
set g_maxlives "{{ etlegacy_max_lives }}"                                         // Number of respawns a player has
set g_alliedmaxlives "{{ etlegacy_max_lives_allied }}"                            // Number of lives available to the allied team
set g_axismaxlives "{{ etlegacy_max_lives_axis }}"                                // Number of lives available to the axis team
set g_teamforcebalance "{{ etlegacy_force_team_balance }}"			                  // Stop players from joining a team with more players
set g_noTeamSwitching "{{ etlegacy_no_team_switching }}"			                    // Disallow players from joining a team with more players
set g_voiceChatsAllowed "{{ etlegacy_voice_chats_allowed }}"			                // Number of VSays a player can say in 10 seconds
set g_doWarmup "{{ etlegacy_warmup_enabled }}"					                          // Players have a warm up period
set g_warmup "{{ etlegacy_warmup_time }}"				                                 	// warm up time (in seconds)
set g_spectatorInactivity "{{ etlegacy_spectator_inactivity_time }}"	         	  // Duration of spectator inactivity before auto-cick
set sv_floodProtect "{{ etlegacy_flood_protect_enabled }}"			     	            // Prevent server flooding
set sv_pure "1"
set sv_minping "{{ etlegacy_min_ping }}"					                                // Minimum ping required on conenct
set sv_maxping "{{ etlegacy_max_ping }}"					                                // Maximum ping allowed on connect
set match_latejoin "{{ etlegacy_allow_latejoin }}"				                        // Allow players to join a match that's already begun
set match_minplayers "{{ etlegacy_min_clients }}"			                            // Minimum number of players needed to start a match
set match_mutespecs "{{ etlegacy_mute_spectators }}"				                      // Mute spectator
set match_readypercent "{{ etlegacy_clients_ready_percent }}"		                  // % of players 'Ready' to start match
set match_timeoutcount "0"
set match_warmupDamage "{{ etlegacy_warmup_damage_mode }}"			                  // Toggles warmup damage 0: Off 1: Enemy Only 2: Everybody
set team_maxplayers "{{ etlegacy_max_players_per_team }}"				                  // Max. Number of Players that can join each team
set team_nocontrols "{{ etlegacy_team_nocontrols }}"				                      // Disallow players from having team control
set pmove_fixed "0"
set pmove_msec "8"

// LMS ONLY SETTINGS

set g_lms_teamForceBalance "{{ etlegacy_lms_etlegacy_force_team_balance }}"		    // Fore Team Balance
set g_lms_roundlimit "{{ etlegacy_lms_roundlimit }}"			                        // Number of Rounds per Match
set g_lms_matchlimit "{{ etlegacy_lms_matchlimit }}"			                        // Number of Matches
set g_lms_currentMatch "0"			//
set g_lms_lockTeams "{{ etlegacy_lms_lock_teams }}"				                        // Lock teams during a round
set g_lms_followTeamOnly "{{ etlegacy_lms_follow_team_only }}"		                // Players can only spectate teammates

// VOTING

set g_allowVote "{{ etlegacy_allow_voting }}"					                            // Enable Voting system
set vote_limit "{{ etlegacy_vote_limit }}"					                              // Number of votes allowed in a map
set vote_percent "{{ etlegacy_vote_percent }}"				                            // % "Yes" votes for it to pass
set vote_allow_gametype "{{ etlegacy_vote_allow_gametype }}"			                // Allow gametype changing by vote
set vote_allow_kick "{{ etlegacy_vote_allow_kick }}"				                      // Allow player kicking by vote
set vote_allow_map "{{ etlegacy_vote_allow_map }}"				                        // Allow map changing by vote
set vote_allow_matchreset "{{ etlegacy_vote_allow_matchreset }}"		              // Allow match restart by vote
set vote_allow_mutespecs "{{ etlegacy_vote_allow_mutespecs }}"		                // Allow muting of spectators by vote
set vote_allow_nextmap "{{ etlegacy_vote_allow_nextmap }}"			                  // Allow switching to next map by vote
set vote_allow_referee "{{ etlegacy_vote_allow_referee }}"			                  // Allow getting referee status by vote
set vote_allow_shuffleteams "{{ etlegacy_vote_allow_shuffleteams }}"		          // Allow team shuffling by vote
set vote_allow_swapteams "{{ etlegacy_vote_allow_swapteams }}"		                // Allow team swapping by vote
set vote_allow_friendlyfire "{{ etlegacy_vote_allow_friendlyfire }}"		          // Allow friendly fire toggling by vote
set vote_allow_timelimit "{{ etlegacy_vote_allow_timelimit }}"		                // Allow map time limit changing by vote
set vote_allow_warmupdamage "{{ etlegacy_vote_allow_warmupdamage }}"		          // Allow warmup damage toggling by vote
set vote_allow_antilag "{{ etlegacy_vote_allow_antilag }}"			                  // Allow toggling Anti Lag setting by vote
set vote_allow_balancedteams "{{ etlegacy_vote_allow_balancedteams }}"	          // Allow toggling Balanced teams by vote
set vote_allow_muting "{{ etlegacy_vote_allow_muting }}"			                    // Allow player muting by vote

// MOD CFG - put mod related vars in an own config
exec {{ etlegacy_mod_cfg }}

// MAP ROTATION - set the game type

//exec campaigncycle.cfg			// Campaign mode
//exec objectivecycle.cfg			// Objective mode
//exec lmscycle.cfg					// Last Man Standing mode
//exec mapvotecycle.cfg				// Map Voting mode
exec {{ etlegacy_map_cfg }}

// WATCHDOG

// in case the game dies with an ERR_DROP
// or any situation leading to server running with no map
//set com_watchdog "10"				// defaults 60
set com_watchdog_cmd "exec {{ etlegacy_map_cfg }}"	// defaults to quit
