#!/bin/sh
#
# $FreeBSD$
#
# PROVIDE: etlegacy
# REQUIRE: NETWORKING SYSLOG
# KEYWORD: shutdown
#
# Add the following lines to /etc/rc.conf to enable etlegacy:
#
# etlegacy_enable="YES"

. /etc/rc.subr

name="etlegacy"
rcvar="etlegacy_enable"

load_rc_config $name

: ${etlegacy_user:="{{ etlegacy_username }}"}
: ${etlegacy_enable:="NO"}
: ${etlegacy_chdir:="{{ etlegacy_bin_dir }}"}

command="/usr/local/bin/tmux"

start_cmd="${name}_start"
stop_cmd="${name}_stop"

etlegacy_start() {
	cd ${etlegacy_chdir}
	/usr/local/bin/sudo -u ${etlegacy_user} ${command} new -d -s etlegacy './etlded +set fs_basepath {{ etlegacy_mod_dir }} +exec etl_server.cfg'
}

etlegacy_stop() {
	/usr/local/bin/sudo -u ${etlegacy_user} ${command} kill-session -t etlegacy
}

run_rc_command "$1"

