#
# LDAP Defaults
#

# See ldap.conf(5) for details
# This file should be world readable but not world writable.

BASE {{ ldapclient_base_dn }}
URI {{ ldapclient_uri }}
TLS_CACERT {{ server_cert_dir }}/base/letsencrypt_intermediate.crt

SIZELIMIT {{ ldapclient_sizelimit }}
TIMELIMIT {{ ldapclient_timelimit }}
DEREF {{ ldapclient_deref }}
